set_location IN_MUX_bfv_9_5_0_ 9 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_6_0_ 9 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_7_0_ 9 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_9_8_0_ 9 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_8_0_ 8 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_9_0_ 8 9 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_10_0_ 8 10 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_8_11_0_ 8 11 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_10_5_0_ 10 5 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_6_0_ 11 6 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_7_0_ 11 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_11_8_0_ 11 8 0 #ICE_CARRY_IN_MUX
set_location CONSTANT_ONE_LUT4 9 4 6 #SB_LUT4
set_location DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_1_THRU_LUT4_0 10 5 2 #SB_LUT4
set_location DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_THRU_LUT4_0 10 5 1 #SB_LUT4
set_location USB_DEBUG.VSwitches_9_THRU_LUT4_0 3 5 3 #SB_LUT4
set_location USB_DEBUG.VSwitches_8_THRU_LUT4_0 3 5 2 #SB_LUT4
set_location USB_DEBUG.VSwitches_7_THRU_LUT4_0 6 3 4 #SB_LUT4
set_location USB_DEBUG.VSwitches_6_THRU_LUT4_0 3 4 1 #SB_LUT4
set_location USB_DEBUG.VSwitches_3_THRU_LUT4_0 5 3 4 #SB_LUT4
set_location USB_DEBUG.VSwitches_2_THRU_LUT4_0 5 3 2 #SB_LUT4
set_location USB_DEBUG.VSwitches_15_THRU_LUT4_0 3 5 1 #SB_LUT4
set_location USB_DEBUG.VSwitches_14_THRU_LUT4_0 3 5 0 #SB_LUT4
set_location USB_DEBUG.VSwitches_1_THRU_LUT4_0 6 3 6 #SB_LUT4
set_location USB_DEBUG.VSwitches_0_THRU_LUT4_0 6 3 7 #SB_LUT4
set_location USB_DEBUG.VButtons_3_THRU_LUT4_0 5 4 7 #SB_LUT4
set_location USB_DEBUG.VButtons_2_THRU_LUT4_0 2 4 0 #SB_LUT4
set_location USB_DEBUG.VButtons_15_THRU_LUT4_0 1 9 0 #SB_LUT4
set_location USB_DEBUG.VButtons_14_THRU_LUT4_0 3 13 6 #SB_LUT4
set_location USB_DEBUG.VButtons_13_THRU_LUT4_0 13 11 7 #SB_LUT4
set_location USB_DEBUG.VButtons_1_THRU_LUT4_0 5 4 1 #SB_LUT4
set_location USB_DEBUG.VButtons_0_THRU_LUT4_0 5 4 2 #SB_LUT4
set_location USB_DEBUG.ToFPGA_9_THRU_LUT4_0 7 4 2 #SB_LUT4
set_location USB_DEBUG.ToFPGA_8_THRU_LUT4_0 7 4 5 #SB_LUT4
set_location USB_DEBUG.ToFPGA_7_THRU_LUT4_0 10 3 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA_6_THRU_LUT4_0 8 12 1 #SB_LUT4
set_location USB_DEBUG.ToFPGA_5_THRU_LUT4_0 12 11 5 #SB_LUT4
set_location USB_DEBUG.ToFPGA_4_THRU_LUT4_0 8 12 5 #SB_LUT4
set_location USB_DEBUG.ToFPGA_31_THRU_LUT4_0 10 8 7 #SB_LUT4
set_location USB_DEBUG.ToFPGA_30_THRU_LUT4_0 9 12 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA_3_THRU_LUT4_0 10 4 1 #SB_LUT4
set_location USB_DEBUG.ToFPGA_29_THRU_LUT4_0 2 9 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA_28_THRU_LUT4_0 10 8 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA_27_THRU_LUT4_0 8 3 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA_26_THRU_LUT4_0 10 12 7 #SB_LUT4
set_location USB_DEBUG.ToFPGA_25_THRU_LUT4_0 10 8 1 #SB_LUT4
set_location USB_DEBUG.ToFPGA_24_THRU_LUT4_0 8 3 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA_23_THRU_LUT4_0 7 9 7 #SB_LUT4
set_location USB_DEBUG.ToFPGA_22_THRU_LUT4_0 7 9 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA_21_THRU_LUT4_0 7 2 3 #SB_LUT4
set_location USB_DEBUG.ToFPGA_20_THRU_LUT4_0 8 2 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA_2_THRU_LUT4_0 1 8 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA_19_THRU_LUT4_0 7 9 3 #SB_LUT4
set_location USB_DEBUG.ToFPGA_18_THRU_LUT4_0 7 12 5 #SB_LUT4
set_location USB_DEBUG.ToFPGA_17_THRU_LUT4_0 7 9 1 #SB_LUT4
set_location USB_DEBUG.ToFPGA_16_THRU_LUT4_0 7 2 2 #SB_LUT4
set_location USB_DEBUG.ToFPGA_15_THRU_LUT4_0 7 4 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA_14_THRU_LUT4_0 7 3 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA_13_THRU_LUT4_0 7 3 3 #SB_LUT4
set_location USB_DEBUG.ToFPGA_12_THRU_LUT4_0 7 13 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA_11_THRU_LUT4_0 7 4 3 #SB_LUT4
set_location USB_DEBUG.ToFPGA_10_THRU_LUT4_0 7 3 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA_1_THRU_LUT4_0 9 3 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA_0_THRU_LUT4_0 10 4 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_7_THRU_LUT4_0 1 7 4 #SB_LUT4
set_location USB_DEBUG.AddressRegister_6_THRU_LUT4_0 1 7 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_5_THRU_LUT4_0 2 8 7 #SB_LUT4
set_location USB_DEBUG.AddressRegister_4_THRU_LUT4_0 2 8 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_3_THRU_LUT4_0 2 8 4 #SB_LUT4
set_location USB_DEBUG.AddressRegister_2_THRU_LUT4_0 1 7 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_1_THRU_LUT4_0 6 9 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_0_THRU_LUT4_0 3 3 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_9_THRU_LUT4_0 6 11 1 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_8_THRU_LUT4_0 6 11 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_7_THRU_LUT4_0 6 11 2 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_6_THRU_LUT4_0 6 12 6 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_5_THRU_LUT4_0 5 13 5 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_4_THRU_LUT4_0 5 13 7 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_3_THRU_LUT4_0 5 13 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_23_THRU_LUT4_0 2 11 5 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_22_THRU_LUT4_0 2 11 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_21_THRU_LUT4_0 2 11 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_20_THRU_LUT4_0 2 11 6 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_2_THRU_LUT4_0 5 13 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_19_THRU_LUT4_0 2 11 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_18_THRU_LUT4_0 2 11 7 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_17_THRU_LUT4_0 6 11 7 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_16_THRU_LUT4_0 6 11 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_15_THRU_LUT4_0 6 11 6 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_14_THRU_LUT4_0 6 12 2 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_13_THRU_LUT4_0 6 12 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_12_THRU_LUT4_0 6 12 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_11_THRU_LUT4_0 6 12 5 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_10_THRU_LUT4_0 6 11 5 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_1_THRU_LUT4_0 6 13 4 #SB_LUT4
set_location CLK_DIV.COUNTER_rep3_19_THRU_LUT4_0 12 8 3 #SB_LUT4
set_location CLK_DIV.COUNTER_rep2_19_THRU_LUT4_0 10 9 0 #SB_LUT4
set_location CLK_DIV.COUNTER_rep1_19_THRU_LUT4_0 12 8 5 #SB_LUT4
set_location CLK_DIV.COUNTER_rep0_19_THRU_LUT4_0 11 8 5 #SB_LUT4
set_location CLK_DIV.COUNTER_19_THRU_LUT4_0 11 8 4 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN4_LAST_THRU_LUT4_0 13 6 2 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN3_LAST_THRU_LUT4_0 13 6 0 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN2_LAST_THRU_LUT4_0 13 4 7 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN1_LAST_THRU_LUT4_0 13 4 2 #SB_LUT4
set_location USB_DEBUG.VSwitches[7] 6 3 4 #SB_DFFE
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[14] 6 12 2 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[24] 9 8 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[20] 8 10 4 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_9_s1_c 9 6 1 #SB_CARRY
set_location CLK_DIV.COUNTER[0] 11 6 0 #SB_DFF
set_location BLINKY.ROTATE_RNO[4] 6 6 4 #SB_LUT4
set_location USB_DEBUG.VButtons_RNIG2CI[0] 6 4 7 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[2] 5 13 4 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_7_s1_c 9 5 7 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_24_s0_c 8 11 0 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_20_s0_c 8 10 4 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[15] 10 7 5 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[0] 11 6 0 #SB_CARRY
set_location USB_DEBUG.ToFPGA[9] 7 4 2 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[30] 8 11 6 #SB_LUT4
set_location USB_DEBUG.VSwitches[14] 3 5 0 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[8] 8 6 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[11] 6 12 5 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[27] 9 8 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[25] 8 11 1 #SB_LUT4
set_location BTN1_iobuf_RNO 16 8 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_14_s1_c 9 6 6 #SB_CARRY
set_location CLK_DIV.COUNTER[13] 11 7 5 #SB_DFF
set_location USB_DEBUG.ToFPGA[31] 10 8 7 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIISHP6[1] 3 10 7 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIG5AM1[1] 3 9 4 #SB_LUT4
set_location CLK_DIV.COUNTER[3] 11 6 3 #SB_DFF
set_location BLINKY.ROTATE_RNO[3] 6 5 2 #SB_LUT4
set_location LIGHTBAR_DISPLAY.LED3_u_ns 5 5 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[6] 9 5 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[9] 7 7 7 #SB_DFFSR
set_location DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_1_c 10 5 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[10] 8 5 1 #SB_DFFSR
set_location USB_DEBUG.AddressRegister_RNIIJF93[1] 5 9 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[14] 10 7 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[13] 7 11 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI0MH46[0] 7 11 7 #SB_LUT4
set_location DELAY_5_SECONDS.TIMEOUT_COUNT[0] 11 5 2 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNIH4A5G[0] 5 8 7 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_28_s1_c 9 8 4 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[28] 8 7 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_24_s1_c 9 8 0 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[5] 7 8 7 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[10] 11 7 2 #SB_CARRY
set_location USB_DEBUG.VButtons[1] 5 4 1 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[22] 9 7 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[26] 8 11 2 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN2_LAST_RNIK4SC1 12 4 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNINSDR4[0] 3 7 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIIPJL[0] 5 12 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[3] 8 8 3 #SB_LUT4
set_location CLK_DIV.COUNTER[10] 11 7 2 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNIQ4DR1[5] 3 7 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIL0622[1] 6 8 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIKRJL[0] 5 12 5 #SB_LUT4
set_location SELECT_OUTPUT.MODE_RNO 12 6 4 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_6_s0_c 8 8 6 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[20] 9 10 4 #SB_DFFSR
set_location CLK_DIV.COUNTER[6] 11 6 6 #SB_DFF
set_location USB_DEBUG.VButtons[15] 1 9 0 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIGNJL[0] 5 12 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLP3[23] 1 10 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[5] 9 5 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[10] 8 9 2 #SB_LUT4
set_location CLK_DIV.COUNTER_rep3[19] 12 8 3 #SB_DFF
set_location BUTTONS.SAMPLE_BTN2_RNO 13 4 5 #SB_LUT4
set_location BTN4_iobuf_RNO 12 8 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[19] 9 7 3 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[11] 11 7 3 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNIA2HF1[0] 7 5 4 #SB_LUT4
set_location USB_DEBUG.VSwitches[3] 5 3 4 #SB_DFFE
set_location USB_DEBUG.CommValidRegister_RNO[7] 2 10 3 #SB_LUT4
set_location USB_DEBUG.CommValidRegister[6] 3 12 4 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIQ1KL[0] 6 10 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI5J6TF[0] 5 6 6 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_5_s1_c 9 5 5 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[28] 9 8 4 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[17] 9 10 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[0] 10 10 3 #SB_LUT4
set_location USB_DEBUG.VButtons_RNIIH7H[1] 6 4 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_16_s1_c 9 7 0 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[10] 7 5 7 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[6] 11 6 6 #SB_LUT4
set_location USB_DEBUG.ToFPGA[11] 7 4 3 #SB_DFFE
set_location USB_DEBUG.CommValidRegister_RNI71QH[0] 6 8 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[25] 9 10 0 #SB_LUT4
set_location CLK_DIV.COUNTER_RNIIJDR1[0] 10 6 4 #SB_LUT4
set_location BUTTONS.STATUS_ALL_BUTTONS_LAST_RNO 12 4 2 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNIB5QH[2] 3 11 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[6] 6 12 6 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_3_s1_c 9 5 3 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[6] 7 8 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[17] 9 7 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[30] 9 9 7 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[17] 11 8 1 #SB_CARRY
set_location CLK_DIV.COUNTER_RNIK9P43[7] 11 5 6 #SB_LUT4
set_location USB_DEBUG.VButtons[2] 2 4 0 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[19] 9 11 3 #SB_DFFSR
set_location CLK_DIV.COUNTER_rep0[19] 11 8 5 #SB_DFF
set_location CLK_DIV.COUNTER_cry_c[4] 11 6 4 #SB_CARRY
set_location CLK_DIV.COUNTER_RNI78DR1[9] 12 6 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA[26] 10 12 7 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIAKCR1[3] 2 7 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[4] 8 8 4 #SB_LUT4
set_location CLK_DIV.COUNTER[15] 11 7 7 #SB_DFF
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[25] 9 10 0 #SB_DFFSR
set_location CLK_DIV.COUNTER[9] 11 7 1 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNICKFP6[1] 3 6 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI7CMT_0[3] 5 7 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[13] 8 9 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[3] 8 7 7 #SB_DFFSR
set_location DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[1] 11 5 4 #SB_LUT4
set_location BUTTONS.STATUS_ALL_BUTTONS_RNO_0 13 5 4 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIV1CB1[5] 6 8 1 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_9_s0_c 8 9 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[29] 3 9 2 #SB_LUT4
set_location USB_DEBUG.VButtons_RNIMFUE[3] 7 6 5 #SB_LUT4
set_location DELAY_5_SECONDS.TIMEOUT_COUNT_RNIUKNT1[3] 10 6 6 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[12] 11 7 4 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN1_RNO 12 5 6 #SB_LUT4
set_location USB_DEBUG.VSwitches[6] 3 4 1 #SB_DFFE
set_location USB_DEBUG.CommValidRegister_RNO[0] 5 2 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[15] 6 11 6 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[21] 8 10 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[12] 9 11 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[3] 10 6 5 #SB_LUT4
set_location BUTTONS.STATUS_ALL_BUTTONS 12 4 3 #SB_DFF
set_location USB_DEBUG.ToFPGA[0] 10 4 5 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIH59M1[1] 3 6 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI9PE1G[0] 3 6 4 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI14CB1[6] 5 8 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[15] 7 6 4 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[5] 11 6 5 #SB_LUT4
set_location BLINKY.ROTATE[2] 6 6 5 #SB_DFF
set_location USB_DEBUG.ToFPGA[14] 7 3 4 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIAKHP6[1] 3 8 1 #SB_LUT4
set_location BUTTONS.BTN2_TOGGLE_STATUS 12 4 4 #SB_DFF
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[22] 2 11 4 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[26] 9 10 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister[3] 2 8 4 #SB_DFFE
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[1] 6 13 4 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_18_s1_c 9 7 2 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[3] 8 7 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[10] 9 6 2 #SB_LUT4
set_location CLK_DIV.COUNTER_RNICT1Q8[0] 11 5 7 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNI93QH[1] 3 6 7 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI2OH46[0] 6 7 6 #SB_LUT4
set_location SELECT_OUTPUT.MODE 12 6 4 #SB_DFFSS
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[18] 2 11 7 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[14] 10 7 2 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[1] 11 6 1 #SB_CARRY
set_location CLK_DIV.COUNTER_RNO[18] 11 8 2 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN3_LAST_RNISO461 12 5 2 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNI61RH[4] 5 11 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIJJE93[1] 7 10 4 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[9] 8 9 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[9] 7 6 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIA0B22[5] 3 7 4 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[16] 8 10 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[0] 9 9 0 #SB_DFFSR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[24] 8 6 4 #SB_LUT4
set_location USB_DEBUG.VSwitches[15] 3 5 1 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[9] 7 7 7 #SB_LUT4
set_location DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_c 10 5 0 #SB_CARRY
set_location BUTTONS.BTN3_TOGGLE_STATUS 13 5 2 #SB_DFF
set_location USB_DEBUG.VSwitches[9] 3 5 3 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIAKCR1_0[3] 3 6 6 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[12] 6 12 0 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s1_c 9 5 0 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[26] 9 8 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[22] 8 10 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[6] 7 8 2 #SB_LUT4
set_location USB_DEBUG.ToFPGA[5] 12 11 5 #SB_DFFE
set_location USB_DEBUG.ToFPGA[21] 7 2 3 #SB_DFFE
set_location CLK_DIV.COUNTER_RNO[0] 11 6 0 #SB_LUT4
set_location BLINKY.ROTATE[5] 6 6 1 #SB_DFF
set_location USB_DEBUG.ToFPGA[30] 9 12 4 #SB_DFFE
set_location USB_DEBUG.ToFPGA[17] 7 9 1 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNI4OVT2[0] 5 8 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_22_s0_c 8 10 6 #SB_CARRY
set_location CLK_DIV.COUNTER[2] 11 6 2 #SB_DFF
set_location BLINKY.ROTATE_RNO[2] 6 6 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIG6TV[1] 6 7 3 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[21] 2 11 0 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_27_s0_c 8 11 3 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[23] 8 6 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister[4] 2 8 5 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_26_s0_c 8 11 2 #SB_CARRY
set_location USB_DEBUG.AddressRegister_RNIC1AM1[1] 5 11 2 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_19_s1_c 9 7 3 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[13] 9 11 5 #SB_DFFSR
set_location CLK_DIV.COUNTER_RNO[15] 11 7 7 #SB_LUT4
set_location BUTTONS.BTN3_TOGGLE_STATUS_RNO 13 5 2 #SB_LUT4
set_location USB_DEBUG.CommValidRegister[2] 3 12 0 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIQ4DR1_0[5] 2 7 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[28] 8 11 4 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN3_RNO 13 6 3 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN2 13 4 5 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNI49MT[2] 3 8 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_19_s0_c 8 10 3 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[19] 8 10 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[5] 7 8 7 #SB_DFFSR
set_location DELAY_5_SECONDS.TIMEOUT_COUNT[3] 10 5 3 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNIRTBB1[3] 6 6 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIRHI46[0] 5 10 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[29] 9 10 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[23] 8 6 0 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c_RNI6TKF[18] 11 8 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIPUDR4[2] 3 7 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIKKNT3_0[0] 3 6 0 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_18_s0_c 8 10 2 #SB_CARRY
set_location CLK_DIV.COUNTER_cry_c[13] 11 7 5 #SB_CARRY
set_location USB_DEBUG.VButtons_RNI70CC1[0] 5 5 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_8_s1_c 9 6 0 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[31] 9 9 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[21] 9 7 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[27] 8 11 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[18] 9 11 7 #SB_LUT4
set_location USB_DEBUG.ToFPGA[6] 8 12 1 #SB_DFFE
set_location USB_DEBUG.ToFPGA[22] 7 9 6 #SB_DFFE
set_location CLK_DIV.COUNTER[11] 11 7 3 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNITC121[1] 10 5 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIKKNT3_1[0] 3 7 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI4PPM3[3] 5 8 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[21] 9 10 5 #SB_DFFSR
set_location CLK_DIV.COUNTER[5] 11 6 5 #SB_DFF
set_location BLINKY.ROTATE_RNO[1] 6 6 6 #SB_LUT4
set_location USB_DEBUG.VButtons[14] 3 13 6 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[4] 9 5 4 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNILQMT[8] 6 5 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIUVF93[1] 5 7 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIOFHC1[4] 5 7 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIMNF93[1] 6 8 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNID19M1[1] 5 11 5 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[16] 11 8 0 #SB_LUT4
set_location USB_DEBUG.VSwitches[2] 5 3 2 #SB_DFFE
set_location USB_DEBUG.CommValidRegister_RNO[4] 3 12 1 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNIA5RH[6] 3 11 7 #SB_LUT4
set_location USB_DEBUG.CommValidRegister[7] 2 10 3 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNISQG11[0] 6 10 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[16] 10 7 7 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIPRBB1[2] 7 10 3 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_3_s0_c 8 8 3 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_22_s1_c 9 7 6 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[11] 8 4 0 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[9] 11 7 1 #SB_LUT4
set_location USB_DEBUG.ToFPGA[10] 7 3 0 #SB_DFFE
set_location LIGHTBAR_DISPLAY.SHIFTER[0] 7 14 0 #SB_DFFSR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_1_s1_c 9 5 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[9] 9 6 1 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_26_s1_c 9 8 2 #SB_CARRY
set_location BUTTONS.BTN1_TOGGLE_STATUS 12 4 7 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNITJI46[0] 6 8 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[5] 5 13 5 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[7] 8 6 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[14] 9 6 6 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[16] 11 8 0 #SB_CARRY
set_location USB_DEBUG.VButtons[3] 5 4 7 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIVG42H[0] 3 10 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[18] 9 11 7 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[5] 11 6 5 #SB_CARRY
set_location CLK_DIV.COUNTER_RNIFC6P[5] 11 5 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA[27] 8 3 6 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIQ4IP6[1] 5 7 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI52865[0] 6 7 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[5] 8 8 5 #SB_LUT4
set_location DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_2_c 10 5 2 #SB_CARRY
set_location CLK_DIV.COUNTER[16] 11 8 0 #SB_DFF
set_location USB_DEBUG.LED2_u_am 6 4 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIMTJL[0] 5 12 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIE4TV[0] 6 10 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI4PPM3[4] 5 7 7 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_12_s1_c 9 6 4 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[26] 9 10 3 #SB_DFFSR
set_location CLK_DIV.COUNTER[8] 11 7 0 #SB_DFF
set_location BUTTONS.SAMPLE_BTN4_RNO 13 6 1 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_11_s1_c 9 6 3 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[3] 9 5 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[12] 8 9 4 #SB_LUT4
set_location DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[0] 11 5 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[28] 10 6 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI8SVT2[1] 6 7 4 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[8] 11 7 0 #SB_CARRY
set_location CLK_DIV.COUNTER_RNO[13] 11 7 5 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN3_LAST_RNIGT0J2 12 5 3 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNO[1] 3 2 4 #SB_LUT4
set_location USB_DEBUG.CommValidRegister[4] 3 12 1 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIM6221[1] 6 8 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[16] 6 11 0 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[11] 8 5 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[2] 3 8 3 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN4 13 6 1 #SB_DFFE
set_location USB_DEBUG.ToFPGA[1] 9 3 6 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[16] 7 6 3 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[4] 11 6 4 #SB_LUT4
set_location BLINKY.ROTATE[1] 6 6 6 #SB_DFF
set_location USB_DEBUG.ToFPGA[13] 7 3 3 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_25_s1_c 9 8 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[28] 8 7 5 #SB_DFFSR
set_location USB_DEBUG.AddressRegister_RNI5THC1[5] 3 7 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[27] 8 7 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister[0] 3 3 3 #SB_DFFE
set_location LIGHTBAR_DISPLAY.LED3_u_am 6 5 0 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_17_s1_c 9 7 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[11] 9 6 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[0] 9 9 0 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[15] 11 7 7 #SB_CARRY
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[19] 2 11 3 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[17] 9 10 7 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[2] 11 6 2 #SB_CARRY
set_location USB_DEBUG.ToFPGA[28] 10 8 4 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIQRF93[1] 5 8 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[6] 8 8 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[8] 8 6 2 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNIC4HF1[2] 5 5 3 #SB_LUT4
set_location USB_DEBUG.VButtons_RNIDDU81[3] 5 6 2 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNI83RH[5] 3 9 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIEEUI6[1] 5 6 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_4_s1_c 9 5 4 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_1_s0_c 8 8 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[18] 7 11 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA[19] 7 9 3 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_23_s0_c 8 10 7 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_20_s1_c 9 7 4 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_17_s0_c 8 10 1 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[15] 8 9 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[1] 9 9 5 #SB_DFFSR
set_location DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[3] 10 5 3 #SB_LUT4
set_location BUTTONS.STATUS_ALL_BUTTONS_RNO 12 4 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[27] 8 7 1 #SB_LUT4
set_location BUTTONS.STATUS_ALL_BUTTONS_LAST 12 4 2 #SB_DFF
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_4_s0_c 8 8 4 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_29_s1_c 9 8 5 #SB_CARRY
set_location USB_DEBUG.VSwitches[8] 3 5 2 #SB_DFFE
set_location USB_DEBUG.CommValidRegister_RNO[2] 3 12 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIO8221[1] 6 8 7 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[13] 6 12 4 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[25] 9 8 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[23] 8 10 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[5] 10 11 1 #SB_LUT4
set_location BUTTONS.BTN4_TOGGLE_STATUS_RNO 13 5 1 #SB_LUT4
set_location WRITE_ibuf_RNIGRT6 1 3 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA[2] 1 8 6 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_23_s1_c 9 7 7 #SB_CARRY
set_location CLK_DIV.COUNTER_RNO[3] 11 6 3 #SB_LUT4
set_location BLINKY.ROTATE[4] 6 6 4 #SB_DFF
set_location USB_DEBUG.WAIT_0_i 1 1 1 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNILQMT_1[8] 6 5 5 #SB_LUT4
set_location USB_DEBUG.ToFPGA[16] 7 2 2 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_30_s1_c 9 8 6 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_12_s0_c 8 9 4 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[30] 9 8 6 #SB_LUT4
set_location CLK_DIV.COUNTER[1] 11 6 1 #SB_DFF
set_location BLINKY.ROTATE_RNO[5] 6 6 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIOTDR4[2] 3 8 6 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[20] 2 11 6 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_2_s0_c 8 8 2 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s0_c 8 8 0 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[20] 9 10 4 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNIC7RH[7] 2 10 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister[5] 2 8 7 #SB_DFFE
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[3] 5 13 0 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[12] 9 6 4 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[18] 11 8 2 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[12] 9 11 1 #SB_DFFSR
set_location USB_DEBUG.CommValidRegister[3] 2 5 0 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[29] 8 11 5 #SB_LUT4
set_location CLK_DIV.COUNTER[18] 11 8 2 #SB_DFF
set_location BUTTONS.SAMPLE_BTN3 13 6 3 #SB_DFFE
set_location USB_DEBUG.ToFPGA[8] 7 4 5 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_27_s1_c 9 8 3 #SB_CARRY
set_location USB_DEBUG.LED4_u_am 6 6 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[18] 8 10 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[6] 7 8 3 #SB_DFFSR
set_location DELAY_5_SECONDS.TIMEOUT_COUNT[2] 10 5 6 #SB_DFF
set_location BUTTONS.SAMPLE_BTN3_LAST 13 6 0 #SB_DFFE
set_location USB_DEBUG.VSwitches_RNILQMT_2[8] 7 5 3 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_15_s0_c 8 9 7 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_14_s0_c 8 9 6 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[31] 8 11 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[22] 7 6 7 #SB_LUT4
set_location USB_DEBUG.VButtons_RNI9F7B1[1] 6 4 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[9] 6 11 1 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_21_s1_c 9 7 5 #SB_CARRY
set_location CLK_DIV.COUNTER_cry_c[12] 11 7 4 #SB_CARRY
set_location USB_DEBUG.AddressRegister_RNIODAM1[1] 5 10 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI7JHQ[0] 6 10 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI2R6R1[1] 5 6 4 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[10] 6 11 5 #SB_DFFESR
set_location LIGHTBAR_DISPLAY.SHIFTER_RNO[0] 7 14 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[30] 9 9 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[20] 9 7 4 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[24] 8 11 0 #SB_LUT4
set_location USB_DEBUG.ToFPGA[7] 10 3 0 #SB_DFFE
set_location USB_DEBUG.ToFPGA[23] 7 9 7 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[1] 8 8 1 #SB_LUT4
set_location CLK_DIV.COUNTER[12] 11 7 4 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNIKKNT3_2[0] 2 6 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI4PPM3[0] 2 6 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[22] 7 7 5 #SB_DFFSR
set_location CLK_DIV.COUNTER[4] 11 6 4 #SB_DFF
set_location BLINKY.ROTATE_RNO[0] 6 6 0 #SB_LUT4
set_location USB_DEBUG.VButtons_RNIK03G[2] 7 5 0 #SB_LUT4
set_location USB_DEBUG.VButtons_RNI00R2[14] 3 14 0 #SB_LUT4
set_location USB_DEBUG.VButtons[13] 13 11 7 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_11_s0_c 8 9 3 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[7] 9 5 7 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[8] 8 6 3 #SB_DFFSR
set_location USB_DEBUG.AddressRegister[6] 1 7 2 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_6_s1_c 9 5 6 #SB_CARRY
set_location USB_DEBUG.AddressRegister_RNIP8121[1] 6 9 0 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_29_s0_c 8 11 5 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[11] 8 5 5 #SB_DFFSR
set_location CLK_DIV.COUNTER_RNO[17] 11 8 1 #SB_LUT4
set_location USB_DEBUG.VSwitches[1] 6 3 6 #SB_DFFE
set_location USB_DEBUG.CommValidRegister_RNO[5] 1 11 0 #SB_LUT4
set_location USB_DEBUG.CommValidRegister[0] 5 2 3 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIQA221[1] 6 7 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNII2044[4] 2 7 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[15] 10 7 5 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_30_s0_c 8 11 6 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[12] 9 11 0 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[8] 11 7 0 #SB_LUT4
set_location BUTTONS.BTN4_TOGGLE_STATUS 13 5 1 #SB_DFF
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_2_s1_c 9 5 2 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[8] 9 6 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[30] 9 9 6 #SB_LUT4
set_location DELAY_5_SECONDS.TIMEOUT_COUNT[1] 11 5 4 #SB_DFF
set_location BTN2_iobuf_RNO 12 3 5 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNID5HF1[3] 6 5 4 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_8_s0_c 8 9 0 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_16_s0_c 8 10 0 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[21] 7 5 6 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[4] 5 13 7 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[4] 8 7 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[15] 9 6 7 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[11] 11 7 3 #SB_CARRY
set_location BUTTONS.BTN2_TOGGLE_STATUS_RNO 12 4 4 #SB_LUT4
set_location USB_DEBUG.VButtons[0] 5 4 2 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIKKNT3[0] 3 6 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[23] 9 7 7 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[6] 11 6 6 #SB_CARRY
set_location USB_DEBUG.ToFPGA[24] 8 3 4 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNI2CHP6[1] 5 11 3 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_28_s0_c 8 11 4 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[2] 8 8 2 #SB_LUT4
set_location CLK_DIV.COUNTER_rep2[19] 10 9 0 #SB_DFF
set_location CLK_DIV.COUNTER[17] 11 8 1 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNIOVJL[0] 6 10 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIK9AM1[1] 3 10 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI8I355[0] 7 6 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI2IC75[0] 6 8 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[27] 8 7 0 #SB_DFFSR
set_location CLK_DIV.COUNTER[7] 11 6 7 #SB_DFF
set_location USB_DEBUG.AddressRegister_RNITFTP6[1] 5 8 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIN6121[1] 6 7 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI7CMT[3] 2 6 6 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_5_s0_c 8 8 5 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_15_s1_c 9 6 7 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[2] 9 5 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[11] 8 9 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIU0J2G[0] 5 12 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[18] 9 7 2 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNID7QH[3] 2 6 0 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[9] 11 7 1 #SB_CARRY
set_location CLK_DIV.COUNTER_RNO[10] 11 7 2 #SB_LUT4
set_location BUTTONS.SAMPLE_BTN1_LAST 13 4 2 #SB_DFFE
set_location BUTTONS.BTN1_TOGGLE_STATUS_RNO 12 4 7 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNO[6] 3 12 4 #SB_LUT4
set_location USB_DEBUG.CommValidRegister[5] 1 11 0 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNI7QIC4[2] 3 7 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI4NNP1[2] 5 10 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[17] 6 11 7 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[29] 9 8 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[10] 8 5 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[1] 9 9 4 #SB_LUT4
set_location USB_DEBUG.LED1_u_am 7 5 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[17] 7 10 6 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[7] 11 6 7 #SB_LUT4
set_location BLINKY.ROTATE[0] 6 6 0 #SB_DFF
set_location USB_DEBUG.ToFPGA[12] 7 13 6 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNI4CFP6[1] 5 11 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[29] 9 10 1 #SB_DFFSR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[24] 9 10 6 #SB_LUT4
set_location USB_DEBUG.AddressRegister[1] 6 9 6 #SB_DFFE
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[7] 6 11 2 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[16] 9 7 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[1] 9 9 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[31] 9 9 3 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[14] 11 7 6 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_13_s1_c 9 6 5 #SB_CARRY
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_10_s1_c 9 6 2 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[16] 10 7 7 #SB_DFFSR
set_location CLK_DIV.COUNTER_cry_c[3] 11 6 3 #SB_CARRY
set_location BTN3_iobuf_RNO 2 7 4 #SB_LUT4
set_location USB_DEBUG.ToFPGA[29] 2 9 6 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNINNE93[1] 5 6 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[7] 8 8 7 #SB_LUT4
set_location CLK_DIV.COUNTER[14] 11 7 6 #SB_DFF
set_location BUTTONS.SAMPLE_BTN4_LAST 13 6 2 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNISC221[1] 7 6 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[19] 9 11 2 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[24] 9 10 6 #SB_DFFSR
set_location BUTTONS.SAMPLE_BTN2_LAST 13 4 7 #SB_DFFE
set_location USB_DEBUG.ToFPGA[18] 7 12 5 #SB_DFFE
set_location USB_DEBUG.AddressRegister_RNIVC1S[0] 5 6 0 #SB_LUT4
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_13_s0_c 8 9 5 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[1] 9 5 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[14] 8 9 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[2] 7 7 0 #SB_DFFSR
set_location DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[2] 10 5 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[26] 10 11 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIB2V35[0] 7 6 6 #SB_LUT4
set_location USB_DEBUG.CommValidRegister_RNO[3] 2 5 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNITVBB1[4] 5 9 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[13] 9 11 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[4] 8 7 2 #SB_LUT4
set_location CLK_DIV.COUNTER_RNIICCI1[1] 11 5 5 #SB_LUT4
set_location USB_DEBUG.ToFPGA[3] 10 4 1 #SB_DFFE
set_location GND -1 -1 -1 #GND
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[14] 6 7 1 #SB_LUT4
set_location CLK_DIV.COUNTER_RNO[2] 11 6 2 #SB_LUT4
set_location BLINKY.ROTATE[3] 6 5 2 #SB_DFF
set_location USB_DEBUG.ToFPGA[15] 7 4 0 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_7_s0_c 8 8 7 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[31] 9 8 7 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[23] 2 11 5 #SB_DFFESR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[21] 9 10 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIUE32H[0] 3 8 2 #SB_LUT4
set_location USB_DEBUG.AddressRegister[2] 1 7 6 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[13] 9 6 5 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[2] 7 7 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[8] 8 9 0 #SB_LUT4
set_location CLK_DIV.COUNTER[19] 11 8 4 #SB_DFF
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_21_s0_c 8 10 5 #SB_CARRY
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[17] 8 10 1 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[7] 8 6 7 #SB_DFFSR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[25] 7 8 0 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLK6[23] 1 12 5 #SB_LUT4
set_location LIGHTBAR_DISPLAY.SHIFTER_esr[8] 6 11 3 #SB_DFFESR
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_10_s0_c 8 9 2 #SB_CARRY
set_location CLK_DIV.COUNTER_RNIVNDU1[13] 12 6 2 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNIB3HF1[1] 6 5 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[7] 8 4 2 #SB_LUT4
set_location USB_DEBUG.ToFPGA[4] 8 12 5 #SB_DFFE
set_location USB_DEBUG.ToFPGA[20] 8 2 0 #SB_DFFE
set_location FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_25_s0_c 8 11 1 #SB_CARRY
set_location CLK_DIV.COUNTER_RNO[1] 11 6 1 #SB_LUT4
set_location USB_DEBUG.VSwitches_RNILQMT_0[8] 6 5 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIK432H[0] 5 12 3 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNI9R42H[0] 5 6 3 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[23] 8 6 1 #SB_DFFSR
set_location USB_DEBUG.AddressRegister_RNI36CB1[7] 5 7 0 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[22] 7 7 5 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIRA121[1] 7 10 0 #SB_LUT4
set_location USB_DEBUG.AddressRegister[7] 1 7 4 #SB_DFFE
set_location CLK_DIV.COUNTER_RNO[14] 11 7 6 #SB_LUT4
set_location USB_DEBUG.VSwitches[0] 6 3 7 #SB_DFFE
set_location USB_DEBUG.CommValidRegister[1] 3 2 4 #SB_DFFE
set_location CLK_DIV.COUNTER_rep1[19] 12 8 5 #SB_DFF
set_location BUTTONS.SAMPLE_BTN1 12 5 6 #SB_DFFE
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[31] 10 9 6 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA[4] 8 7 3 #SB_DFFSR
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[20] 9 4 1 #SB_LUT4
set_location USB_DEBUG.AddressRegister_RNIKKNT3[3] 5 9 4 #SB_LUT4
set_location FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[19] 9 11 3 #SB_LUT4
set_location CLK_DIV.COUNTER_cry_c[7] 11 6 7 #SB_CARRY
set_location USB_DEBUG.ToFPGA[25] 10 8 1 #SB_DFFE
set_io DB[3] 37
set_io DB[0] 42
set_io BTN4 52
set_io WAIT 33
set_io LED4 129
set_io DB[5] 34
set_io DB[1] 41
set_io CLK_3P3_MHZ 20
set_io BTN3 25
set_io ASTB 26
set_io LED1 130
set_io DSTB 21
set_io DB[6] 16
set_io DB[2] 9
set_io BTN2 32
set_io WRITE 28
set_io LED2 56
set_io DB[7] 29
set_io BTN1 60
set_io SS_B 49
set_io LED3 141
set_io DB[4] 4
