ble_pack USB_DEBUG.WAIT_0_i_LC_1_1_1 { USB_DEBUG.WAIT_0_i }
clb_pack LT_1_1 { USB_DEBUG.WAIT_0_i_LC_1_1_1 }
set_location LT_1_1 1 1
ble_pack WRITE_ibuf_RNIGRT6_LC_1_3_4 { WRITE_ibuf_RNIGRT6 }
clb_pack LT_1_3 { WRITE_ibuf_RNIGRT6_LC_1_3_4 }
set_location LT_1_3 1 3
ble_pack USB_DEBUG.AddressRegister_6_LC_1_7_2 { USB_DEBUG.AddressRegister_6_THRU_LUT4_0, USB_DEBUG.AddressRegister[6] }
ble_pack USB_DEBUG.AddressRegister_7_LC_1_7_4 { USB_DEBUG.AddressRegister_7_THRU_LUT4_0, USB_DEBUG.AddressRegister[7] }
ble_pack USB_DEBUG.AddressRegister_2_LC_1_7_6 { USB_DEBUG.AddressRegister_2_THRU_LUT4_0, USB_DEBUG.AddressRegister[2] }
clb_pack LT_1_7 { USB_DEBUG.AddressRegister_6_LC_1_7_2, USB_DEBUG.AddressRegister_7_LC_1_7_4, USB_DEBUG.AddressRegister_2_LC_1_7_6 }
set_location LT_1_7 1 7
ble_pack USB_DEBUG.ToFPGA_2_LC_1_8_6 { USB_DEBUG.ToFPGA_2_THRU_LUT4_0, USB_DEBUG.ToFPGA[2] }
clb_pack LT_1_8 { USB_DEBUG.ToFPGA_2_LC_1_8_6 }
set_location LT_1_8 1 8
ble_pack USB_DEBUG.VButtons_15_LC_1_9_0 { USB_DEBUG.VButtons_15_THRU_LUT4_0, USB_DEBUG.VButtons[15] }
clb_pack LT_1_9 { USB_DEBUG.VButtons_15_LC_1_9_0 }
set_location LT_1_9 1 9
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLP3_23_LC_1_10_2 { LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLP3[23] }
clb_pack LT_1_10 { LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLP3_23_LC_1_10_2 }
set_location LT_1_10 1 10
ble_pack USB_DEBUG.CommValidRegister_5_LC_1_11_0 { USB_DEBUG.CommValidRegister_RNO[5], USB_DEBUG.CommValidRegister[5] }
clb_pack LT_1_11 { USB_DEBUG.CommValidRegister_5_LC_1_11_0 }
set_location LT_1_11 1 11
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLK6_23_LC_1_12_5 { LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLK6[23] }
clb_pack LT_1_12 { LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLK6_23_LC_1_12_5 }
set_location LT_1_12 1 12
ble_pack USB_DEBUG.VButtons_2_LC_2_4_0 { USB_DEBUG.VButtons_2_THRU_LUT4_0, USB_DEBUG.VButtons[2] }
clb_pack LT_2_4 { USB_DEBUG.VButtons_2_LC_2_4_0 }
set_location LT_2_4 2 4
ble_pack USB_DEBUG.CommValidRegister_3_LC_2_5_0 { USB_DEBUG.CommValidRegister_RNO[3], USB_DEBUG.CommValidRegister[3] }
clb_pack LT_2_5 { USB_DEBUG.CommValidRegister_3_LC_2_5_0 }
set_location LT_2_5 2 5
ble_pack USB_DEBUG.CommValidRegister_RNID7QH_3_LC_2_6_0 { USB_DEBUG.CommValidRegister_RNID7QH[3] }
ble_pack USB_DEBUG.AddressRegister_RNIKKNT3_2_0_LC_2_6_2 { USB_DEBUG.AddressRegister_RNIKKNT3_2[0] }
ble_pack USB_DEBUG.AddressRegister_RNI7CMT_3_LC_2_6_6 { USB_DEBUG.AddressRegister_RNI7CMT[3] }
ble_pack USB_DEBUG.AddressRegister_RNI4PPM3_0_LC_2_6_7 { USB_DEBUG.AddressRegister_RNI4PPM3[0] }
clb_pack LT_2_6 { USB_DEBUG.CommValidRegister_RNID7QH_3_LC_2_6_0, USB_DEBUG.AddressRegister_RNIKKNT3_2_0_LC_2_6_2, USB_DEBUG.AddressRegister_RNI7CMT_3_LC_2_6_6, USB_DEBUG.AddressRegister_RNI4PPM3_0_LC_2_6_7 }
set_location LT_2_6 2 6
ble_pack USB_DEBUG.AddressRegister_RNIQ4DR1_0_5_LC_2_7_1 { USB_DEBUG.AddressRegister_RNIQ4DR1_0[5] }
ble_pack BTN3_iobuf_RNO_LC_2_7_4 { BTN3_iobuf_RNO }
ble_pack USB_DEBUG.AddressRegister_RNIAKCR1_3_LC_2_7_5 { USB_DEBUG.AddressRegister_RNIAKCR1[3] }
ble_pack USB_DEBUG.AddressRegister_RNII2044_4_LC_2_7_6 { USB_DEBUG.AddressRegister_RNII2044[4] }
clb_pack LT_2_7 { USB_DEBUG.AddressRegister_RNIQ4DR1_0_5_LC_2_7_1, BTN3_iobuf_RNO_LC_2_7_4, USB_DEBUG.AddressRegister_RNIAKCR1_3_LC_2_7_5, USB_DEBUG.AddressRegister_RNII2044_4_LC_2_7_6 }
set_location LT_2_7 2 7
ble_pack USB_DEBUG.AddressRegister_3_LC_2_8_4 { USB_DEBUG.AddressRegister_3_THRU_LUT4_0, USB_DEBUG.AddressRegister[3] }
ble_pack USB_DEBUG.AddressRegister_4_LC_2_8_5 { USB_DEBUG.AddressRegister_4_THRU_LUT4_0, USB_DEBUG.AddressRegister[4] }
ble_pack USB_DEBUG.AddressRegister_5_LC_2_8_7 { USB_DEBUG.AddressRegister_5_THRU_LUT4_0, USB_DEBUG.AddressRegister[5] }
clb_pack LT_2_8 { USB_DEBUG.AddressRegister_3_LC_2_8_4, USB_DEBUG.AddressRegister_4_LC_2_8_5, USB_DEBUG.AddressRegister_5_LC_2_8_7 }
set_location LT_2_8 2 8
ble_pack USB_DEBUG.ToFPGA_29_LC_2_9_6 { USB_DEBUG.ToFPGA_29_THRU_LUT4_0, USB_DEBUG.ToFPGA[29] }
clb_pack LT_2_9 { USB_DEBUG.ToFPGA_29_LC_2_9_6 }
set_location LT_2_9 2 9
ble_pack USB_DEBUG.CommValidRegister_RNIC7RH_7_LC_2_10_2 { USB_DEBUG.CommValidRegister_RNIC7RH[7] }
ble_pack USB_DEBUG.CommValidRegister_7_LC_2_10_3 { USB_DEBUG.CommValidRegister_RNO[7], USB_DEBUG.CommValidRegister[7] }
clb_pack LT_2_10 { USB_DEBUG.CommValidRegister_RNIC7RH_7_LC_2_10_2, USB_DEBUG.CommValidRegister_7_LC_2_10_3 }
set_location LT_2_10 2 10
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_21_LC_2_11_0 { LIGHTBAR_DISPLAY.SHIFTER_esr_21_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[21] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_19_LC_2_11_3 { LIGHTBAR_DISPLAY.SHIFTER_esr_19_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[19] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_22_LC_2_11_4 { LIGHTBAR_DISPLAY.SHIFTER_esr_22_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[22] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_23_LC_2_11_5 { LIGHTBAR_DISPLAY.SHIFTER_esr_23_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[23] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_20_LC_2_11_6 { LIGHTBAR_DISPLAY.SHIFTER_esr_20_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[20] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_18_LC_2_11_7 { LIGHTBAR_DISPLAY.SHIFTER_esr_18_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[18] }
clb_pack LT_2_11 { LIGHTBAR_DISPLAY.SHIFTER_esr_21_LC_2_11_0, LIGHTBAR_DISPLAY.SHIFTER_esr_19_LC_2_11_3, LIGHTBAR_DISPLAY.SHIFTER_esr_22_LC_2_11_4, LIGHTBAR_DISPLAY.SHIFTER_esr_23_LC_2_11_5, LIGHTBAR_DISPLAY.SHIFTER_esr_20_LC_2_11_6, LIGHTBAR_DISPLAY.SHIFTER_esr_18_LC_2_11_7 }
set_location LT_2_11 2 11
ble_pack USB_DEBUG.CommValidRegister_1_LC_3_2_4 { USB_DEBUG.CommValidRegister_RNO[1], USB_DEBUG.CommValidRegister[1] }
clb_pack LT_3_2 { USB_DEBUG.CommValidRegister_1_LC_3_2_4 }
set_location LT_3_2 3 2
ble_pack USB_DEBUG.AddressRegister_0_LC_3_3_3 { USB_DEBUG.AddressRegister_0_THRU_LUT4_0, USB_DEBUG.AddressRegister[0] }
clb_pack LT_3_3 { USB_DEBUG.AddressRegister_0_LC_3_3_3 }
set_location LT_3_3 3 3
ble_pack USB_DEBUG.VSwitches_6_LC_3_4_1 { USB_DEBUG.VSwitches_6_THRU_LUT4_0, USB_DEBUG.VSwitches[6] }
clb_pack LT_3_4 { USB_DEBUG.VSwitches_6_LC_3_4_1 }
set_location LT_3_4 3 4
ble_pack USB_DEBUG.VSwitches_14_LC_3_5_0 { USB_DEBUG.VSwitches_14_THRU_LUT4_0, USB_DEBUG.VSwitches[14] }
ble_pack USB_DEBUG.VSwitches_15_LC_3_5_1 { USB_DEBUG.VSwitches_15_THRU_LUT4_0, USB_DEBUG.VSwitches[15] }
ble_pack USB_DEBUG.VSwitches_8_LC_3_5_2 { USB_DEBUG.VSwitches_8_THRU_LUT4_0, USB_DEBUG.VSwitches[8] }
ble_pack USB_DEBUG.VSwitches_9_LC_3_5_3 { USB_DEBUG.VSwitches_9_THRU_LUT4_0, USB_DEBUG.VSwitches[9] }
clb_pack LT_3_5 { USB_DEBUG.VSwitches_14_LC_3_5_0, USB_DEBUG.VSwitches_15_LC_3_5_1, USB_DEBUG.VSwitches_8_LC_3_5_2, USB_DEBUG.VSwitches_9_LC_3_5_3 }
set_location LT_3_5 3 5
ble_pack USB_DEBUG.AddressRegister_RNIKKNT3_0_0_LC_3_6_0 { USB_DEBUG.AddressRegister_RNIKKNT3_0[0] }
ble_pack USB_DEBUG.AddressRegister_RNIH59M1_1_LC_3_6_2 { USB_DEBUG.AddressRegister_RNIH59M1[1] }
ble_pack USB_DEBUG.AddressRegister_RNICKFP6_1_LC_3_6_3 { USB_DEBUG.AddressRegister_RNICKFP6[1] }
ble_pack USB_DEBUG.AddressRegister_RNI9PE1G_0_LC_3_6_4 { USB_DEBUG.AddressRegister_RNI9PE1G[0] }
ble_pack USB_DEBUG.AddressRegister_RNIKKNT3_0_LC_3_6_5 { USB_DEBUG.AddressRegister_RNIKKNT3[0] }
ble_pack USB_DEBUG.AddressRegister_RNIAKCR1_0_3_LC_3_6_6 { USB_DEBUG.AddressRegister_RNIAKCR1_0[3] }
ble_pack USB_DEBUG.CommValidRegister_RNI93QH_1_LC_3_6_7 { USB_DEBUG.CommValidRegister_RNI93QH[1] }
clb_pack LT_3_6 { USB_DEBUG.AddressRegister_RNIKKNT3_0_0_LC_3_6_0, USB_DEBUG.AddressRegister_RNIH59M1_1_LC_3_6_2, USB_DEBUG.AddressRegister_RNICKFP6_1_LC_3_6_3, USB_DEBUG.AddressRegister_RNI9PE1G_0_LC_3_6_4, USB_DEBUG.AddressRegister_RNIKKNT3_0_LC_3_6_5, USB_DEBUG.AddressRegister_RNIAKCR1_0_3_LC_3_6_6, USB_DEBUG.CommValidRegister_RNI93QH_1_LC_3_6_7 }
set_location LT_3_6 3 6
ble_pack USB_DEBUG.AddressRegister_RNINSDR4_0_LC_3_7_0 { USB_DEBUG.AddressRegister_RNINSDR4[0] }
ble_pack USB_DEBUG.AddressRegister_RNIQ4DR1_5_LC_3_7_1 { USB_DEBUG.AddressRegister_RNIQ4DR1[5] }
ble_pack USB_DEBUG.AddressRegister_RNI7QIC4_2_LC_3_7_2 { USB_DEBUG.AddressRegister_RNI7QIC4[2] }
ble_pack USB_DEBUG.AddressRegister_RNIPUDR4_2_LC_3_7_3 { USB_DEBUG.AddressRegister_RNIPUDR4[2] }
ble_pack USB_DEBUG.AddressRegister_RNIA0B22_5_LC_3_7_4 { USB_DEBUG.AddressRegister_RNIA0B22[5] }
ble_pack USB_DEBUG.AddressRegister_RNIKKNT3_1_0_LC_3_7_5 { USB_DEBUG.AddressRegister_RNIKKNT3_1[0] }
ble_pack USB_DEBUG.AddressRegister_RNI5THC1_5_LC_3_7_6 { USB_DEBUG.AddressRegister_RNI5THC1[5] }
clb_pack LT_3_7 { USB_DEBUG.AddressRegister_RNINSDR4_0_LC_3_7_0, USB_DEBUG.AddressRegister_RNIQ4DR1_5_LC_3_7_1, USB_DEBUG.AddressRegister_RNI7QIC4_2_LC_3_7_2, USB_DEBUG.AddressRegister_RNIPUDR4_2_LC_3_7_3, USB_DEBUG.AddressRegister_RNIA0B22_5_LC_3_7_4, USB_DEBUG.AddressRegister_RNIKKNT3_1_0_LC_3_7_5, USB_DEBUG.AddressRegister_RNI5THC1_5_LC_3_7_6 }
set_location LT_3_7 3 7
ble_pack USB_DEBUG.AddressRegister_RNIAKHP6_1_LC_3_8_1 { USB_DEBUG.AddressRegister_RNIAKHP6[1] }
ble_pack USB_DEBUG.AddressRegister_RNIUE32H_0_LC_3_8_2 { USB_DEBUG.AddressRegister_RNIUE32H[0] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_2_LC_3_8_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[2] }
ble_pack USB_DEBUG.AddressRegister_RNI49MT_2_LC_3_8_5 { USB_DEBUG.AddressRegister_RNI49MT[2] }
ble_pack USB_DEBUG.AddressRegister_RNIOTDR4_2_LC_3_8_6 { USB_DEBUG.AddressRegister_RNIOTDR4[2] }
clb_pack LT_3_8 { USB_DEBUG.AddressRegister_RNIAKHP6_1_LC_3_8_1, USB_DEBUG.AddressRegister_RNIUE32H_0_LC_3_8_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_2_LC_3_8_3, USB_DEBUG.AddressRegister_RNI49MT_2_LC_3_8_5, USB_DEBUG.AddressRegister_RNIOTDR4_2_LC_3_8_6 }
set_location LT_3_8 3 8
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_29_LC_3_9_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[29] }
ble_pack USB_DEBUG.CommValidRegister_RNI83RH_5_LC_3_9_3 { USB_DEBUG.CommValidRegister_RNI83RH[5] }
ble_pack USB_DEBUG.AddressRegister_RNIG5AM1_1_LC_3_9_4 { USB_DEBUG.AddressRegister_RNIG5AM1[1] }
clb_pack LT_3_9 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_29_LC_3_9_2, USB_DEBUG.CommValidRegister_RNI83RH_5_LC_3_9_3, USB_DEBUG.AddressRegister_RNIG5AM1_1_LC_3_9_4 }
set_location LT_3_9 3 9
ble_pack USB_DEBUG.AddressRegister_RNIVG42H_0_LC_3_10_5 { USB_DEBUG.AddressRegister_RNIVG42H[0] }
ble_pack USB_DEBUG.AddressRegister_RNIK9AM1_1_LC_3_10_6 { USB_DEBUG.AddressRegister_RNIK9AM1[1] }
ble_pack USB_DEBUG.AddressRegister_RNIISHP6_1_LC_3_10_7 { USB_DEBUG.AddressRegister_RNIISHP6[1] }
clb_pack LT_3_10 { USB_DEBUG.AddressRegister_RNIVG42H_0_LC_3_10_5, USB_DEBUG.AddressRegister_RNIK9AM1_1_LC_3_10_6, USB_DEBUG.AddressRegister_RNIISHP6_1_LC_3_10_7 }
set_location LT_3_10 3 10
ble_pack USB_DEBUG.CommValidRegister_RNIB5QH_2_LC_3_11_3 { USB_DEBUG.CommValidRegister_RNIB5QH[2] }
ble_pack USB_DEBUG.CommValidRegister_RNIA5RH_6_LC_3_11_7 { USB_DEBUG.CommValidRegister_RNIA5RH[6] }
clb_pack LT_3_11 { USB_DEBUG.CommValidRegister_RNIB5QH_2_LC_3_11_3, USB_DEBUG.CommValidRegister_RNIA5RH_6_LC_3_11_7 }
set_location LT_3_11 3 11
ble_pack USB_DEBUG.CommValidRegister_2_LC_3_12_0 { USB_DEBUG.CommValidRegister_RNO[2], USB_DEBUG.CommValidRegister[2] }
ble_pack USB_DEBUG.CommValidRegister_4_LC_3_12_1 { USB_DEBUG.CommValidRegister_RNO[4], USB_DEBUG.CommValidRegister[4] }
ble_pack USB_DEBUG.CommValidRegister_6_LC_3_12_4 { USB_DEBUG.CommValidRegister_RNO[6], USB_DEBUG.CommValidRegister[6] }
clb_pack LT_3_12 { USB_DEBUG.CommValidRegister_2_LC_3_12_0, USB_DEBUG.CommValidRegister_4_LC_3_12_1, USB_DEBUG.CommValidRegister_6_LC_3_12_4 }
set_location LT_3_12 3 12
ble_pack USB_DEBUG.VButtons_14_LC_3_13_6 { USB_DEBUG.VButtons_14_THRU_LUT4_0, USB_DEBUG.VButtons[14] }
clb_pack LT_3_13 { USB_DEBUG.VButtons_14_LC_3_13_6 }
set_location LT_3_13 3 13
ble_pack USB_DEBUG.VButtons_RNI00R2_14_LC_3_14_0 { USB_DEBUG.VButtons_RNI00R2[14] }
clb_pack LT_3_14 { USB_DEBUG.VButtons_RNI00R2_14_LC_3_14_0 }
set_location LT_3_14 3 14
ble_pack USB_DEBUG.CommValidRegister_0_LC_5_2_3 { USB_DEBUG.CommValidRegister_RNO[0], USB_DEBUG.CommValidRegister[0] }
clb_pack LT_5_2 { USB_DEBUG.CommValidRegister_0_LC_5_2_3 }
set_location LT_5_2 5 2
ble_pack USB_DEBUG.VSwitches_2_LC_5_3_2 { USB_DEBUG.VSwitches_2_THRU_LUT4_0, USB_DEBUG.VSwitches[2] }
ble_pack USB_DEBUG.VSwitches_3_LC_5_3_4 { USB_DEBUG.VSwitches_3_THRU_LUT4_0, USB_DEBUG.VSwitches[3] }
clb_pack LT_5_3 { USB_DEBUG.VSwitches_2_LC_5_3_2, USB_DEBUG.VSwitches_3_LC_5_3_4 }
set_location LT_5_3 5 3
ble_pack USB_DEBUG.VButtons_1_LC_5_4_1 { USB_DEBUG.VButtons_1_THRU_LUT4_0, USB_DEBUG.VButtons[1] }
ble_pack USB_DEBUG.VButtons_0_LC_5_4_2 { USB_DEBUG.VButtons_0_THRU_LUT4_0, USB_DEBUG.VButtons[0] }
ble_pack USB_DEBUG.VButtons_3_LC_5_4_7 { USB_DEBUG.VButtons_3_THRU_LUT4_0, USB_DEBUG.VButtons[3] }
clb_pack LT_5_4 { USB_DEBUG.VButtons_1_LC_5_4_1, USB_DEBUG.VButtons_0_LC_5_4_2, USB_DEBUG.VButtons_3_LC_5_4_7 }
set_location LT_5_4 5 4
ble_pack LIGHTBAR_DISPLAY.LED3_u_ns_LC_5_5_0 { LIGHTBAR_DISPLAY.LED3_u_ns }
ble_pack USB_DEBUG.VSwitches_RNIC4HF1_2_LC_5_5_3 { USB_DEBUG.VSwitches_RNIC4HF1[2] }
ble_pack USB_DEBUG.VButtons_RNI70CC1_0_LC_5_5_5 { USB_DEBUG.VButtons_RNI70CC1[0] }
clb_pack LT_5_5 { LIGHTBAR_DISPLAY.LED3_u_ns_LC_5_5_0, USB_DEBUG.VSwitches_RNIC4HF1_2_LC_5_5_3, USB_DEBUG.VButtons_RNI70CC1_0_LC_5_5_5 }
set_location LT_5_5 5 5
ble_pack USB_DEBUG.AddressRegister_RNIVC1S_0_LC_5_6_0 { USB_DEBUG.AddressRegister_RNIVC1S[0] }
ble_pack USB_DEBUG.AddressRegister_RNINNE93_1_LC_5_6_1 { USB_DEBUG.AddressRegister_RNINNE93[1] }
ble_pack USB_DEBUG.VButtons_RNIDDU81_3_LC_5_6_2 { USB_DEBUG.VButtons_RNIDDU81[3] }
ble_pack USB_DEBUG.AddressRegister_RNI9R42H_0_LC_5_6_3 { USB_DEBUG.AddressRegister_RNI9R42H[0] }
ble_pack USB_DEBUG.AddressRegister_RNI2R6R1_1_LC_5_6_4 { USB_DEBUG.AddressRegister_RNI2R6R1[1] }
ble_pack USB_DEBUG.AddressRegister_RNIEEUI6_1_LC_5_6_5 { USB_DEBUG.AddressRegister_RNIEEUI6[1] }
ble_pack USB_DEBUG.AddressRegister_RNI5J6TF_0_LC_5_6_6 { USB_DEBUG.AddressRegister_RNI5J6TF[0] }
clb_pack LT_5_6 { USB_DEBUG.AddressRegister_RNIVC1S_0_LC_5_6_0, USB_DEBUG.AddressRegister_RNINNE93_1_LC_5_6_1, USB_DEBUG.VButtons_RNIDDU81_3_LC_5_6_2, USB_DEBUG.AddressRegister_RNI9R42H_0_LC_5_6_3, USB_DEBUG.AddressRegister_RNI2R6R1_1_LC_5_6_4, USB_DEBUG.AddressRegister_RNIEEUI6_1_LC_5_6_5, USB_DEBUG.AddressRegister_RNI5J6TF_0_LC_5_6_6 }
set_location LT_5_6 5 6
ble_pack USB_DEBUG.AddressRegister_RNI36CB1_7_LC_5_7_0 { USB_DEBUG.AddressRegister_RNI36CB1[7] }
ble_pack USB_DEBUG.AddressRegister_RNIUVF93_1_LC_5_7_1 { USB_DEBUG.AddressRegister_RNIUVF93[1] }
ble_pack USB_DEBUG.AddressRegister_RNIQ4IP6_1_LC_5_7_2 { USB_DEBUG.AddressRegister_RNIQ4IP6[1] }
ble_pack USB_DEBUG.AddressRegister_RNIOFHC1_4_LC_5_7_5 { USB_DEBUG.AddressRegister_RNIOFHC1[4] }
ble_pack USB_DEBUG.AddressRegister_RNI7CMT_0_3_LC_5_7_6 { USB_DEBUG.AddressRegister_RNI7CMT_0[3] }
ble_pack USB_DEBUG.AddressRegister_RNI4PPM3_4_LC_5_7_7 { USB_DEBUG.AddressRegister_RNI4PPM3[4] }
clb_pack LT_5_7 { USB_DEBUG.AddressRegister_RNI36CB1_7_LC_5_7_0, USB_DEBUG.AddressRegister_RNIUVF93_1_LC_5_7_1, USB_DEBUG.AddressRegister_RNIQ4IP6_1_LC_5_7_2, USB_DEBUG.AddressRegister_RNIOFHC1_4_LC_5_7_5, USB_DEBUG.AddressRegister_RNI7CMT_0_3_LC_5_7_6, USB_DEBUG.AddressRegister_RNI4PPM3_4_LC_5_7_7 }
set_location LT_5_7 5 7
ble_pack USB_DEBUG.AddressRegister_RNI14CB1_6_LC_5_8_0 { USB_DEBUG.AddressRegister_RNI14CB1[6] }
ble_pack USB_DEBUG.AddressRegister_RNIQRF93_1_LC_5_8_1 { USB_DEBUG.AddressRegister_RNIQRF93[1] }
ble_pack USB_DEBUG.AddressRegister_RNI4PPM3_3_LC_5_8_2 { USB_DEBUG.AddressRegister_RNI4PPM3[3] }
ble_pack USB_DEBUG.AddressRegister_RNI4OVT2_0_LC_5_8_5 { USB_DEBUG.AddressRegister_RNI4OVT2[0] }
ble_pack USB_DEBUG.AddressRegister_RNITFTP6_1_LC_5_8_6 { USB_DEBUG.AddressRegister_RNITFTP6[1] }
ble_pack USB_DEBUG.AddressRegister_RNIH4A5G_0_LC_5_8_7 { USB_DEBUG.AddressRegister_RNIH4A5G[0] }
clb_pack LT_5_8 { USB_DEBUG.AddressRegister_RNI14CB1_6_LC_5_8_0, USB_DEBUG.AddressRegister_RNIQRF93_1_LC_5_8_1, USB_DEBUG.AddressRegister_RNI4PPM3_3_LC_5_8_2, USB_DEBUG.AddressRegister_RNI4OVT2_0_LC_5_8_5, USB_DEBUG.AddressRegister_RNITFTP6_1_LC_5_8_6, USB_DEBUG.AddressRegister_RNIH4A5G_0_LC_5_8_7 }
set_location LT_5_8 5 8
ble_pack USB_DEBUG.AddressRegister_RNIKKNT3_3_LC_5_9_4 { USB_DEBUG.AddressRegister_RNIKKNT3[3] }
ble_pack USB_DEBUG.AddressRegister_RNITVBB1_4_LC_5_9_5 { USB_DEBUG.AddressRegister_RNITVBB1[4] }
ble_pack USB_DEBUG.AddressRegister_RNIIJF93_1_LC_5_9_6 { USB_DEBUG.AddressRegister_RNIIJF93[1] }
clb_pack LT_5_9 { USB_DEBUG.AddressRegister_RNIKKNT3_3_LC_5_9_4, USB_DEBUG.AddressRegister_RNITVBB1_4_LC_5_9_5, USB_DEBUG.AddressRegister_RNIIJF93_1_LC_5_9_6 }
set_location LT_5_9 5 9
ble_pack USB_DEBUG.AddressRegister_RNI4NNP1_2_LC_5_10_0 { USB_DEBUG.AddressRegister_RNI4NNP1[2] }
ble_pack USB_DEBUG.AddressRegister_RNIRHI46_0_LC_5_10_2 { USB_DEBUG.AddressRegister_RNIRHI46[0] }
ble_pack USB_DEBUG.AddressRegister_RNIODAM1_1_LC_5_10_6 { USB_DEBUG.AddressRegister_RNIODAM1[1] }
clb_pack LT_5_10 { USB_DEBUG.AddressRegister_RNI4NNP1_2_LC_5_10_0, USB_DEBUG.AddressRegister_RNIRHI46_0_LC_5_10_2, USB_DEBUG.AddressRegister_RNIODAM1_1_LC_5_10_6 }
set_location LT_5_10 5 10
ble_pack USB_DEBUG.CommValidRegister_RNI61RH_4_LC_5_11_1 { USB_DEBUG.CommValidRegister_RNI61RH[4] }
ble_pack USB_DEBUG.AddressRegister_RNIC1AM1_1_LC_5_11_2 { USB_DEBUG.AddressRegister_RNIC1AM1[1] }
ble_pack USB_DEBUG.AddressRegister_RNI2CHP6_1_LC_5_11_3 { USB_DEBUG.AddressRegister_RNI2CHP6[1] }
ble_pack USB_DEBUG.AddressRegister_RNID19M1_1_LC_5_11_5 { USB_DEBUG.AddressRegister_RNID19M1[1] }
ble_pack USB_DEBUG.AddressRegister_RNI4CFP6_1_LC_5_11_6 { USB_DEBUG.AddressRegister_RNI4CFP6[1] }
clb_pack LT_5_11 { USB_DEBUG.CommValidRegister_RNI61RH_4_LC_5_11_1, USB_DEBUG.AddressRegister_RNIC1AM1_1_LC_5_11_2, USB_DEBUG.AddressRegister_RNI2CHP6_1_LC_5_11_3, USB_DEBUG.AddressRegister_RNID19M1_1_LC_5_11_5, USB_DEBUG.AddressRegister_RNI4CFP6_1_LC_5_11_6 }
set_location LT_5_11 5 11
ble_pack USB_DEBUG.AddressRegister_RNIIPJL_0_LC_5_12_0 { USB_DEBUG.AddressRegister_RNIIPJL[0] }
ble_pack USB_DEBUG.AddressRegister_RNIU0J2G_0_LC_5_12_2 { USB_DEBUG.AddressRegister_RNIU0J2G[0] }
ble_pack USB_DEBUG.AddressRegister_RNIK432H_0_LC_5_12_3 { USB_DEBUG.AddressRegister_RNIK432H[0] }
ble_pack USB_DEBUG.AddressRegister_RNIGNJL_0_LC_5_12_4 { USB_DEBUG.AddressRegister_RNIGNJL[0] }
ble_pack USB_DEBUG.AddressRegister_RNIKRJL_0_LC_5_12_5 { USB_DEBUG.AddressRegister_RNIKRJL[0] }
ble_pack USB_DEBUG.AddressRegister_RNIMTJL_0_LC_5_12_6 { USB_DEBUG.AddressRegister_RNIMTJL[0] }
clb_pack LT_5_12 { USB_DEBUG.AddressRegister_RNIIPJL_0_LC_5_12_0, USB_DEBUG.AddressRegister_RNIU0J2G_0_LC_5_12_2, USB_DEBUG.AddressRegister_RNIK432H_0_LC_5_12_3, USB_DEBUG.AddressRegister_RNIGNJL_0_LC_5_12_4, USB_DEBUG.AddressRegister_RNIKRJL_0_LC_5_12_5, USB_DEBUG.AddressRegister_RNIMTJL_0_LC_5_12_6 }
set_location LT_5_12 5 12
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_3_LC_5_13_0 { LIGHTBAR_DISPLAY.SHIFTER_esr_3_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[3] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_2_LC_5_13_4 { LIGHTBAR_DISPLAY.SHIFTER_esr_2_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[2] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_5_LC_5_13_5 { LIGHTBAR_DISPLAY.SHIFTER_esr_5_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[5] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_4_LC_5_13_7 { LIGHTBAR_DISPLAY.SHIFTER_esr_4_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[4] }
clb_pack LT_5_13 { LIGHTBAR_DISPLAY.SHIFTER_esr_3_LC_5_13_0, LIGHTBAR_DISPLAY.SHIFTER_esr_2_LC_5_13_4, LIGHTBAR_DISPLAY.SHIFTER_esr_5_LC_5_13_5, LIGHTBAR_DISPLAY.SHIFTER_esr_4_LC_5_13_7 }
set_location LT_5_13 5 13
ble_pack USB_DEBUG.VSwitches_7_LC_6_3_4 { USB_DEBUG.VSwitches_7_THRU_LUT4_0, USB_DEBUG.VSwitches[7] }
ble_pack USB_DEBUG.VSwitches_1_LC_6_3_6 { USB_DEBUG.VSwitches_1_THRU_LUT4_0, USB_DEBUG.VSwitches[1] }
ble_pack USB_DEBUG.VSwitches_0_LC_6_3_7 { USB_DEBUG.VSwitches_0_THRU_LUT4_0, USB_DEBUG.VSwitches[0] }
clb_pack LT_6_3 { USB_DEBUG.VSwitches_7_LC_6_3_4, USB_DEBUG.VSwitches_1_LC_6_3_6, USB_DEBUG.VSwitches_0_LC_6_3_7 }
set_location LT_6_3 6 3
ble_pack USB_DEBUG.LED2_u_am_LC_6_4_3 { USB_DEBUG.LED2_u_am }
ble_pack USB_DEBUG.VButtons_RNI9F7B1_1_LC_6_4_4 { USB_DEBUG.VButtons_RNI9F7B1[1] }
ble_pack USB_DEBUG.VButtons_RNIIH7H_1_LC_6_4_5 { USB_DEBUG.VButtons_RNIIH7H[1] }
ble_pack USB_DEBUG.VButtons_RNIG2CI_0_LC_6_4_7 { USB_DEBUG.VButtons_RNIG2CI[0] }
clb_pack LT_6_4 { USB_DEBUG.LED2_u_am_LC_6_4_3, USB_DEBUG.VButtons_RNI9F7B1_1_LC_6_4_4, USB_DEBUG.VButtons_RNIIH7H_1_LC_6_4_5, USB_DEBUG.VButtons_RNIG2CI_0_LC_6_4_7 }
set_location LT_6_4 6 4
ble_pack LIGHTBAR_DISPLAY.LED3_u_am_LC_6_5_0 { LIGHTBAR_DISPLAY.LED3_u_am }
ble_pack USB_DEBUG.VSwitches_RNILQMT_0_8_LC_6_5_1 { USB_DEBUG.VSwitches_RNILQMT_0[8] }
ble_pack BLINKY.ROTATE_3_LC_6_5_2 { BLINKY.ROTATE_RNO[3], BLINKY.ROTATE[3] }
ble_pack USB_DEBUG.VSwitches_RNILQMT_8_LC_6_5_3 { USB_DEBUG.VSwitches_RNILQMT[8] }
ble_pack USB_DEBUG.VSwitches_RNID5HF1_3_LC_6_5_4 { USB_DEBUG.VSwitches_RNID5HF1[3] }
ble_pack USB_DEBUG.VSwitches_RNILQMT_1_8_LC_6_5_5 { USB_DEBUG.VSwitches_RNILQMT_1[8] }
ble_pack USB_DEBUG.VSwitches_RNIB3HF1_1_LC_6_5_6 { USB_DEBUG.VSwitches_RNIB3HF1[1] }
clb_pack LT_6_5 { LIGHTBAR_DISPLAY.LED3_u_am_LC_6_5_0, USB_DEBUG.VSwitches_RNILQMT_0_8_LC_6_5_1, BLINKY.ROTATE_3_LC_6_5_2, USB_DEBUG.VSwitches_RNILQMT_8_LC_6_5_3, USB_DEBUG.VSwitches_RNID5HF1_3_LC_6_5_4, USB_DEBUG.VSwitches_RNILQMT_1_8_LC_6_5_5, USB_DEBUG.VSwitches_RNIB3HF1_1_LC_6_5_6 }
set_location LT_6_5 6 5
ble_pack BLINKY.ROTATE_0_LC_6_6_0 { BLINKY.ROTATE_RNO[0], BLINKY.ROTATE[0] }
ble_pack BLINKY.ROTATE_5_LC_6_6_1 { BLINKY.ROTATE_RNO[5], BLINKY.ROTATE[5] }
ble_pack USB_DEBUG.AddressRegister_RNIRTBB1_3_LC_6_6_2 { USB_DEBUG.AddressRegister_RNIRTBB1[3] }
ble_pack USB_DEBUG.LED4_u_am_LC_6_6_3 { USB_DEBUG.LED4_u_am }
ble_pack BLINKY.ROTATE_4_LC_6_6_4 { BLINKY.ROTATE_RNO[4], BLINKY.ROTATE[4] }
ble_pack BLINKY.ROTATE_2_LC_6_6_5 { BLINKY.ROTATE_RNO[2], BLINKY.ROTATE[2] }
ble_pack BLINKY.ROTATE_1_LC_6_6_6 { BLINKY.ROTATE_RNO[1], BLINKY.ROTATE[1] }
clb_pack LT_6_6 { BLINKY.ROTATE_0_LC_6_6_0, BLINKY.ROTATE_5_LC_6_6_1, USB_DEBUG.AddressRegister_RNIRTBB1_3_LC_6_6_2, USB_DEBUG.LED4_u_am_LC_6_6_3, BLINKY.ROTATE_4_LC_6_6_4, BLINKY.ROTATE_2_LC_6_6_5, BLINKY.ROTATE_1_LC_6_6_6 }
set_location LT_6_6 6 6
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_14_LC_6_7_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[14] }
ble_pack USB_DEBUG.AddressRegister_RNIN6121_1_LC_6_7_2 { USB_DEBUG.AddressRegister_RNIN6121[1] }
ble_pack USB_DEBUG.AddressRegister_RNIG6TV_1_LC_6_7_3 { USB_DEBUG.AddressRegister_RNIG6TV[1] }
ble_pack USB_DEBUG.AddressRegister_RNI8SVT2_1_LC_6_7_4 { USB_DEBUG.AddressRegister_RNI8SVT2[1] }
ble_pack USB_DEBUG.AddressRegister_RNIQA221_1_LC_6_7_5 { USB_DEBUG.AddressRegister_RNIQA221[1] }
ble_pack USB_DEBUG.AddressRegister_RNI2OH46_0_LC_6_7_6 { USB_DEBUG.AddressRegister_RNI2OH46[0] }
ble_pack USB_DEBUG.AddressRegister_RNI52865_0_LC_6_7_7 { USB_DEBUG.AddressRegister_RNI52865[0] }
clb_pack LT_6_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_14_LC_6_7_1, USB_DEBUG.AddressRegister_RNIN6121_1_LC_6_7_2, USB_DEBUG.AddressRegister_RNIG6TV_1_LC_6_7_3, USB_DEBUG.AddressRegister_RNI8SVT2_1_LC_6_7_4, USB_DEBUG.AddressRegister_RNIQA221_1_LC_6_7_5, USB_DEBUG.AddressRegister_RNI2OH46_0_LC_6_7_6, USB_DEBUG.AddressRegister_RNI52865_0_LC_6_7_7 }
set_location LT_6_7 6 7
ble_pack USB_DEBUG.AddressRegister_RNIM6221_1_LC_6_8_0 { USB_DEBUG.AddressRegister_RNIM6221[1] }
ble_pack USB_DEBUG.AddressRegister_RNIV1CB1_5_LC_6_8_1 { USB_DEBUG.AddressRegister_RNIV1CB1[5] }
ble_pack USB_DEBUG.AddressRegister_RNIMNF93_1_LC_6_8_2 { USB_DEBUG.AddressRegister_RNIMNF93[1] }
ble_pack USB_DEBUG.AddressRegister_RNI2IC75_0_LC_6_8_3 { USB_DEBUG.AddressRegister_RNI2IC75[0] }
ble_pack USB_DEBUG.AddressRegister_RNITJI46_0_LC_6_8_4 { USB_DEBUG.AddressRegister_RNITJI46[0] }
ble_pack USB_DEBUG.CommValidRegister_RNI71QH_0_LC_6_8_5 { USB_DEBUG.CommValidRegister_RNI71QH[0] }
ble_pack USB_DEBUG.AddressRegister_RNIL0622_1_LC_6_8_6 { USB_DEBUG.AddressRegister_RNIL0622[1] }
ble_pack USB_DEBUG.AddressRegister_RNIO8221_1_LC_6_8_7 { USB_DEBUG.AddressRegister_RNIO8221[1] }
clb_pack LT_6_8 { USB_DEBUG.AddressRegister_RNIM6221_1_LC_6_8_0, USB_DEBUG.AddressRegister_RNIV1CB1_5_LC_6_8_1, USB_DEBUG.AddressRegister_RNIMNF93_1_LC_6_8_2, USB_DEBUG.AddressRegister_RNI2IC75_0_LC_6_8_3, USB_DEBUG.AddressRegister_RNITJI46_0_LC_6_8_4, USB_DEBUG.CommValidRegister_RNI71QH_0_LC_6_8_5, USB_DEBUG.AddressRegister_RNIL0622_1_LC_6_8_6, USB_DEBUG.AddressRegister_RNIO8221_1_LC_6_8_7 }
set_location LT_6_8 6 8
ble_pack USB_DEBUG.AddressRegister_RNIP8121_1_LC_6_9_0 { USB_DEBUG.AddressRegister_RNIP8121[1] }
ble_pack USB_DEBUG.AddressRegister_1_LC_6_9_6 { USB_DEBUG.AddressRegister_1_THRU_LUT4_0, USB_DEBUG.AddressRegister[1] }
clb_pack LT_6_9 { USB_DEBUG.AddressRegister_RNIP8121_1_LC_6_9_0, USB_DEBUG.AddressRegister_1_LC_6_9_6 }
set_location LT_6_9 6 9
ble_pack USB_DEBUG.AddressRegister_RNI7JHQ_0_LC_6_10_0 { USB_DEBUG.AddressRegister_RNI7JHQ[0] }
ble_pack USB_DEBUG.AddressRegister_RNIOVJL_0_LC_6_10_1 { USB_DEBUG.AddressRegister_RNIOVJL[0] }
ble_pack USB_DEBUG.AddressRegister_RNIE4TV_0_LC_6_10_2 { USB_DEBUG.AddressRegister_RNIE4TV[0] }
ble_pack USB_DEBUG.AddressRegister_RNIQ1KL_0_LC_6_10_5 { USB_DEBUG.AddressRegister_RNIQ1KL[0] }
ble_pack USB_DEBUG.AddressRegister_RNISQG11_0_LC_6_10_6 { USB_DEBUG.AddressRegister_RNISQG11[0] }
clb_pack LT_6_10 { USB_DEBUG.AddressRegister_RNI7JHQ_0_LC_6_10_0, USB_DEBUG.AddressRegister_RNIOVJL_0_LC_6_10_1, USB_DEBUG.AddressRegister_RNIE4TV_0_LC_6_10_2, USB_DEBUG.AddressRegister_RNIQ1KL_0_LC_6_10_5, USB_DEBUG.AddressRegister_RNISQG11_0_LC_6_10_6 }
set_location LT_6_10 6 10
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_16_LC_6_11_0 { LIGHTBAR_DISPLAY.SHIFTER_esr_16_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[16] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_9_LC_6_11_1 { LIGHTBAR_DISPLAY.SHIFTER_esr_9_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[9] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_7_LC_6_11_2 { LIGHTBAR_DISPLAY.SHIFTER_esr_7_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[7] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_8_LC_6_11_3 { LIGHTBAR_DISPLAY.SHIFTER_esr_8_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[8] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_10_LC_6_11_5 { LIGHTBAR_DISPLAY.SHIFTER_esr_10_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[10] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_15_LC_6_11_6 { LIGHTBAR_DISPLAY.SHIFTER_esr_15_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[15] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_17_LC_6_11_7 { LIGHTBAR_DISPLAY.SHIFTER_esr_17_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[17] }
clb_pack LT_6_11 { LIGHTBAR_DISPLAY.SHIFTER_esr_16_LC_6_11_0, LIGHTBAR_DISPLAY.SHIFTER_esr_9_LC_6_11_1, LIGHTBAR_DISPLAY.SHIFTER_esr_7_LC_6_11_2, LIGHTBAR_DISPLAY.SHIFTER_esr_8_LC_6_11_3, LIGHTBAR_DISPLAY.SHIFTER_esr_10_LC_6_11_5, LIGHTBAR_DISPLAY.SHIFTER_esr_15_LC_6_11_6, LIGHTBAR_DISPLAY.SHIFTER_esr_17_LC_6_11_7 }
set_location LT_6_11 6 11
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_12_LC_6_12_0 { LIGHTBAR_DISPLAY.SHIFTER_esr_12_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[12] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_14_LC_6_12_2 { LIGHTBAR_DISPLAY.SHIFTER_esr_14_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[14] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_13_LC_6_12_4 { LIGHTBAR_DISPLAY.SHIFTER_esr_13_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[13] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_11_LC_6_12_5 { LIGHTBAR_DISPLAY.SHIFTER_esr_11_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[11] }
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_6_LC_6_12_6 { LIGHTBAR_DISPLAY.SHIFTER_esr_6_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[6] }
clb_pack LT_6_12 { LIGHTBAR_DISPLAY.SHIFTER_esr_12_LC_6_12_0, LIGHTBAR_DISPLAY.SHIFTER_esr_14_LC_6_12_2, LIGHTBAR_DISPLAY.SHIFTER_esr_13_LC_6_12_4, LIGHTBAR_DISPLAY.SHIFTER_esr_11_LC_6_12_5, LIGHTBAR_DISPLAY.SHIFTER_esr_6_LC_6_12_6 }
set_location LT_6_12 6 12
ble_pack LIGHTBAR_DISPLAY.SHIFTER_esr_1_LC_6_13_4 { LIGHTBAR_DISPLAY.SHIFTER_esr_1_THRU_LUT4_0, LIGHTBAR_DISPLAY.SHIFTER_esr[1] }
clb_pack LT_6_13 { LIGHTBAR_DISPLAY.SHIFTER_esr_1_LC_6_13_4 }
set_location LT_6_13 6 13
ble_pack USB_DEBUG.ToFPGA_16_LC_7_2_2 { USB_DEBUG.ToFPGA_16_THRU_LUT4_0, USB_DEBUG.ToFPGA[16] }
ble_pack USB_DEBUG.ToFPGA_21_LC_7_2_3 { USB_DEBUG.ToFPGA_21_THRU_LUT4_0, USB_DEBUG.ToFPGA[21] }
clb_pack LT_7_2 { USB_DEBUG.ToFPGA_16_LC_7_2_2, USB_DEBUG.ToFPGA_21_LC_7_2_3 }
set_location LT_7_2 7 2
ble_pack USB_DEBUG.ToFPGA_10_LC_7_3_0 { USB_DEBUG.ToFPGA_10_THRU_LUT4_0, USB_DEBUG.ToFPGA[10] }
ble_pack USB_DEBUG.ToFPGA_13_LC_7_3_3 { USB_DEBUG.ToFPGA_13_THRU_LUT4_0, USB_DEBUG.ToFPGA[13] }
ble_pack USB_DEBUG.ToFPGA_14_LC_7_3_4 { USB_DEBUG.ToFPGA_14_THRU_LUT4_0, USB_DEBUG.ToFPGA[14] }
clb_pack LT_7_3 { USB_DEBUG.ToFPGA_10_LC_7_3_0, USB_DEBUG.ToFPGA_13_LC_7_3_3, USB_DEBUG.ToFPGA_14_LC_7_3_4 }
set_location LT_7_3 7 3
ble_pack USB_DEBUG.ToFPGA_15_LC_7_4_0 { USB_DEBUG.ToFPGA_15_THRU_LUT4_0, USB_DEBUG.ToFPGA[15] }
ble_pack USB_DEBUG.ToFPGA_9_LC_7_4_2 { USB_DEBUG.ToFPGA_9_THRU_LUT4_0, USB_DEBUG.ToFPGA[9] }
ble_pack USB_DEBUG.ToFPGA_11_LC_7_4_3 { USB_DEBUG.ToFPGA_11_THRU_LUT4_0, USB_DEBUG.ToFPGA[11] }
ble_pack USB_DEBUG.ToFPGA_8_LC_7_4_5 { USB_DEBUG.ToFPGA_8_THRU_LUT4_0, USB_DEBUG.ToFPGA[8] }
clb_pack LT_7_4 { USB_DEBUG.ToFPGA_15_LC_7_4_0, USB_DEBUG.ToFPGA_9_LC_7_4_2, USB_DEBUG.ToFPGA_11_LC_7_4_3, USB_DEBUG.ToFPGA_8_LC_7_4_5 }
set_location LT_7_4 7 4
ble_pack USB_DEBUG.VButtons_RNIK03G_2_LC_7_5_0 { USB_DEBUG.VButtons_RNIK03G[2] }
ble_pack USB_DEBUG.LED1_u_am_LC_7_5_1 { USB_DEBUG.LED1_u_am }
ble_pack USB_DEBUG.VSwitches_RNILQMT_2_8_LC_7_5_3 { USB_DEBUG.VSwitches_RNILQMT_2[8] }
ble_pack USB_DEBUG.VSwitches_RNIA2HF1_0_LC_7_5_4 { USB_DEBUG.VSwitches_RNIA2HF1[0] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_21_LC_7_5_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[21] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_10_LC_7_5_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[10] }
clb_pack LT_7_5 { USB_DEBUG.VButtons_RNIK03G_2_LC_7_5_0, USB_DEBUG.LED1_u_am_LC_7_5_1, USB_DEBUG.VSwitches_RNILQMT_2_8_LC_7_5_3, USB_DEBUG.VSwitches_RNIA2HF1_0_LC_7_5_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_21_LC_7_5_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_10_LC_7_5_7 }
set_location LT_7_5 7 5
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_9_LC_7_6_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[9] }
ble_pack USB_DEBUG.AddressRegister_RNI8I355_0_LC_7_6_1 { USB_DEBUG.AddressRegister_RNI8I355[0] }
ble_pack USB_DEBUG.AddressRegister_RNISC221_1_LC_7_6_2 { USB_DEBUG.AddressRegister_RNISC221[1] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_16_LC_7_6_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[16] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_15_LC_7_6_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[15] }
ble_pack USB_DEBUG.VButtons_RNIMFUE_3_LC_7_6_5 { USB_DEBUG.VButtons_RNIMFUE[3] }
ble_pack USB_DEBUG.AddressRegister_RNIB2V35_0_LC_7_6_6 { USB_DEBUG.AddressRegister_RNIB2V35[0] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_22_LC_7_6_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[22] }
clb_pack LT_7_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_9_LC_7_6_0, USB_DEBUG.AddressRegister_RNI8I355_0_LC_7_6_1, USB_DEBUG.AddressRegister_RNISC221_1_LC_7_6_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_16_LC_7_6_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_15_LC_7_6_4, USB_DEBUG.VButtons_RNIMFUE_3_LC_7_6_5, USB_DEBUG.AddressRegister_RNIB2V35_0_LC_7_6_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_22_LC_7_6_7 }
set_location LT_7_6 7 6
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_2_LC_7_7_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[2], FromFPGA_DISPLAY.DATA_FROM_FPGA[2] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_22_LC_7_7_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[22], FromFPGA_DISPLAY.DATA_FROM_FPGA[22] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_9_LC_7_7_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[9], FromFPGA_DISPLAY.DATA_FROM_FPGA[9] }
clb_pack LT_7_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_2_LC_7_7_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_22_LC_7_7_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_9_LC_7_7_7 }
set_location LT_7_7 7 7
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_25_LC_7_8_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[25] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_6_LC_7_8_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[6] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_6_LC_7_8_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[6], FromFPGA_DISPLAY.DATA_FROM_FPGA[6] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_5_LC_7_8_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[5], FromFPGA_DISPLAY.DATA_FROM_FPGA[5] }
clb_pack LT_7_8 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_25_LC_7_8_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_6_LC_7_8_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_6_LC_7_8_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_5_LC_7_8_7 }
set_location LT_7_8 7 8
ble_pack USB_DEBUG.ToFPGA_17_LC_7_9_1 { USB_DEBUG.ToFPGA_17_THRU_LUT4_0, USB_DEBUG.ToFPGA[17] }
ble_pack USB_DEBUG.ToFPGA_19_LC_7_9_3 { USB_DEBUG.ToFPGA_19_THRU_LUT4_0, USB_DEBUG.ToFPGA[19] }
ble_pack USB_DEBUG.ToFPGA_22_LC_7_9_6 { USB_DEBUG.ToFPGA_22_THRU_LUT4_0, USB_DEBUG.ToFPGA[22] }
ble_pack USB_DEBUG.ToFPGA_23_LC_7_9_7 { USB_DEBUG.ToFPGA_23_THRU_LUT4_0, USB_DEBUG.ToFPGA[23] }
clb_pack LT_7_9 { USB_DEBUG.ToFPGA_17_LC_7_9_1, USB_DEBUG.ToFPGA_19_LC_7_9_3, USB_DEBUG.ToFPGA_22_LC_7_9_6, USB_DEBUG.ToFPGA_23_LC_7_9_7 }
set_location LT_7_9 7 9
ble_pack USB_DEBUG.AddressRegister_RNIRA121_1_LC_7_10_0 { USB_DEBUG.AddressRegister_RNIRA121[1] }
ble_pack USB_DEBUG.AddressRegister_RNIPRBB1_2_LC_7_10_3 { USB_DEBUG.AddressRegister_RNIPRBB1[2] }
ble_pack USB_DEBUG.AddressRegister_RNIJJE93_1_LC_7_10_4 { USB_DEBUG.AddressRegister_RNIJJE93[1] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_17_LC_7_10_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[17] }
clb_pack LT_7_10 { USB_DEBUG.AddressRegister_RNIRA121_1_LC_7_10_0, USB_DEBUG.AddressRegister_RNIPRBB1_2_LC_7_10_3, USB_DEBUG.AddressRegister_RNIJJE93_1_LC_7_10_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_17_LC_7_10_6 }
set_location LT_7_10 7 10
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_13_LC_7_11_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[13] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_18_LC_7_11_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[18] }
ble_pack USB_DEBUG.AddressRegister_RNI0MH46_0_LC_7_11_7 { USB_DEBUG.AddressRegister_RNI0MH46[0] }
clb_pack LT_7_11 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_13_LC_7_11_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_18_LC_7_11_4, USB_DEBUG.AddressRegister_RNI0MH46_0_LC_7_11_7 }
set_location LT_7_11 7 11
ble_pack USB_DEBUG.ToFPGA_18_LC_7_12_5 { USB_DEBUG.ToFPGA_18_THRU_LUT4_0, USB_DEBUG.ToFPGA[18] }
clb_pack LT_7_12 { USB_DEBUG.ToFPGA_18_LC_7_12_5 }
set_location LT_7_12 7 12
ble_pack USB_DEBUG.ToFPGA_12_LC_7_13_6 { USB_DEBUG.ToFPGA_12_THRU_LUT4_0, USB_DEBUG.ToFPGA[12] }
clb_pack LT_7_13 { USB_DEBUG.ToFPGA_12_LC_7_13_6 }
set_location LT_7_13 7 13
ble_pack LIGHTBAR_DISPLAY.SHIFTER_0_LC_7_14_0 { LIGHTBAR_DISPLAY.SHIFTER_RNO[0], LIGHTBAR_DISPLAY.SHIFTER[0] }
clb_pack LT_7_14 { LIGHTBAR_DISPLAY.SHIFTER_0_LC_7_14_0 }
set_location LT_7_14 7 14
ble_pack USB_DEBUG.ToFPGA_20_LC_8_2_0 { USB_DEBUG.ToFPGA_20_THRU_LUT4_0, USB_DEBUG.ToFPGA[20] }
clb_pack LT_8_2 { USB_DEBUG.ToFPGA_20_LC_8_2_0 }
set_location LT_8_2 8 2
ble_pack USB_DEBUG.ToFPGA_24_LC_8_3_4 { USB_DEBUG.ToFPGA_24_THRU_LUT4_0, USB_DEBUG.ToFPGA[24] }
ble_pack USB_DEBUG.ToFPGA_27_LC_8_3_6 { USB_DEBUG.ToFPGA_27_THRU_LUT4_0, USB_DEBUG.ToFPGA[27] }
clb_pack LT_8_3 { USB_DEBUG.ToFPGA_24_LC_8_3_4, USB_DEBUG.ToFPGA_27_LC_8_3_6 }
set_location LT_8_3 8 3
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_11_LC_8_4_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[11] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_7_LC_8_4_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[7] }
clb_pack LT_8_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_11_LC_8_4_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_7_LC_8_4_2 }
set_location LT_8_4 8 4
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_10_LC_8_5_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[10], FromFPGA_DISPLAY.DATA_FROM_FPGA[10] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_11_LC_8_5_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[11], FromFPGA_DISPLAY.DATA_FROM_FPGA[11] }
clb_pack LT_8_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_10_LC_8_5_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_11_LC_8_5_5 }
set_location LT_8_5 8 5
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_23_LC_8_6_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[23] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_23_LC_8_6_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[23], FromFPGA_DISPLAY.DATA_FROM_FPGA[23] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_8_LC_8_6_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[8] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_8_LC_8_6_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[8], FromFPGA_DISPLAY.DATA_FROM_FPGA[8] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_24_LC_8_6_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[24] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_7_LC_8_6_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[7], FromFPGA_DISPLAY.DATA_FROM_FPGA[7] }
clb_pack LT_8_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_23_LC_8_6_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_23_LC_8_6_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_8_LC_8_6_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_8_LC_8_6_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_24_LC_8_6_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_7_LC_8_6_7 }
set_location LT_8_6 8 6
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_27_LC_8_7_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[27], FromFPGA_DISPLAY.DATA_FROM_FPGA[27] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_27_LC_8_7_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[27] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_4_LC_8_7_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[4] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_4_LC_8_7_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[4], FromFPGA_DISPLAY.DATA_FROM_FPGA[4] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_28_LC_8_7_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[28], FromFPGA_DISPLAY.DATA_FROM_FPGA[28] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_3_LC_8_7_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[3], FromFPGA_DISPLAY.DATA_FROM_FPGA[3] }
clb_pack LT_8_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_27_LC_8_7_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_27_LC_8_7_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_4_LC_8_7_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_4_LC_8_7_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_28_LC_8_7_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_3_LC_8_7_7 }
set_location LT_8_7 8 7
ble_pack FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s0_c_LC_8_8_0 { FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_1_LC_8_8_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[1], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_1_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_2_LC_8_8_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[2], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_2_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_3_LC_8_8_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[3], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_3_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_4_LC_8_8_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[4], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_4_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_5_LC_8_8_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[5], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_5_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_6_LC_8_8_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[6], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_6_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_7_LC_8_8_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[7], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_7_s0_c }
clb_pack LT_8_8 { FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s0_c_LC_8_8_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_1_LC_8_8_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_2_LC_8_8_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_3_LC_8_8_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_4_LC_8_8_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_5_LC_8_8_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_6_LC_8_8_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_7_LC_8_8_7 }
set_location LT_8_8 8 8
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_8_LC_8_9_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[8], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_8_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_9_LC_8_9_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[9], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_9_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_10_LC_8_9_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[10], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_10_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_11_LC_8_9_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[11], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_11_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_12_LC_8_9_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[12], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_12_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_13_LC_8_9_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[13], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_13_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_14_LC_8_9_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[14], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_14_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_15_LC_8_9_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[15], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_15_s0_c }
clb_pack LT_8_9 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_8_LC_8_9_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_9_LC_8_9_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_10_LC_8_9_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_11_LC_8_9_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_12_LC_8_9_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_13_LC_8_9_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_14_LC_8_9_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_15_LC_8_9_7 }
set_location LT_8_9 8 9
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_16_LC_8_10_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[16], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_16_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_17_LC_8_10_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[17], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_17_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_18_LC_8_10_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[18], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_18_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_19_LC_8_10_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[19], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_19_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_20_LC_8_10_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[20], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_20_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_21_LC_8_10_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[21], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_21_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_22_LC_8_10_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[22], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_22_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_23_LC_8_10_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[23], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_23_s0_c }
clb_pack LT_8_10 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_16_LC_8_10_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_17_LC_8_10_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_18_LC_8_10_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_19_LC_8_10_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_20_LC_8_10_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_21_LC_8_10_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_22_LC_8_10_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_23_LC_8_10_7 }
set_location LT_8_10 8 10
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_24_LC_8_11_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[24], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_24_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_25_LC_8_11_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[25], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_25_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_26_LC_8_11_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[26], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_26_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_27_LC_8_11_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[27], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_27_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_28_LC_8_11_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[28], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_28_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_29_LC_8_11_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[29], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_29_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_30_LC_8_11_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[30], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_30_s0_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_31_LC_8_11_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1[31] }
clb_pack LT_8_11 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_24_LC_8_11_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_25_LC_8_11_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_26_LC_8_11_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_27_LC_8_11_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_28_LC_8_11_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_29_LC_8_11_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_30_LC_8_11_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_1_31_LC_8_11_7 }
set_location LT_8_11 8 11
ble_pack USB_DEBUG.ToFPGA_6_LC_8_12_1 { USB_DEBUG.ToFPGA_6_THRU_LUT4_0, USB_DEBUG.ToFPGA[6] }
ble_pack USB_DEBUG.ToFPGA_4_LC_8_12_5 { USB_DEBUG.ToFPGA_4_THRU_LUT4_0, USB_DEBUG.ToFPGA[4] }
clb_pack LT_8_12 { USB_DEBUG.ToFPGA_6_LC_8_12_1, USB_DEBUG.ToFPGA_4_LC_8_12_5 }
set_location LT_8_12 8 12
ble_pack USB_DEBUG.ToFPGA_1_LC_9_3_6 { USB_DEBUG.ToFPGA_1_THRU_LUT4_0, USB_DEBUG.ToFPGA[1] }
clb_pack LT_9_3 { USB_DEBUG.ToFPGA_1_LC_9_3_6 }
set_location LT_9_3 9 3
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_20_LC_9_4_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[20] }
ble_pack CONSTANT_ONE_LUT4_LC_9_4_6 { CONSTANT_ONE_LUT4 }
clb_pack LT_9_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_20_LC_9_4_1, CONSTANT_ONE_LUT4_LC_9_4_6 }
set_location LT_9_4 9 4
ble_pack FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s1_c_LC_9_5_0 { FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_1_LC_9_5_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[1], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_1_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_2_LC_9_5_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[2], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_2_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_3_LC_9_5_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[3], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_3_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_4_LC_9_5_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[4], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_4_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_5_LC_9_5_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[5], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_5_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_6_LC_9_5_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[6], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_6_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_7_LC_9_5_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[7], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_7_s1_c }
clb_pack LT_9_5 { FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_0_s1_c_LC_9_5_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_1_LC_9_5_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_2_LC_9_5_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_3_LC_9_5_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_4_LC_9_5_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_5_LC_9_5_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_6_LC_9_5_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_7_LC_9_5_7 }
set_location LT_9_5 9 5
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_8_LC_9_6_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[8], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_8_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_9_LC_9_6_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[9], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_9_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_10_LC_9_6_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[10], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_10_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_11_LC_9_6_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[11], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_11_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_12_LC_9_6_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[12], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_12_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_13_LC_9_6_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[13], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_13_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_14_LC_9_6_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[14], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_14_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_15_LC_9_6_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[15], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_15_s1_c }
clb_pack LT_9_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_8_LC_9_6_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_9_LC_9_6_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_10_LC_9_6_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_11_LC_9_6_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_12_LC_9_6_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_13_LC_9_6_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_14_LC_9_6_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_15_LC_9_6_7 }
set_location LT_9_6 9 6
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_16_LC_9_7_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[16], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_16_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_17_LC_9_7_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[17], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_17_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_18_LC_9_7_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[18], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_18_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_19_LC_9_7_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[19], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_19_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_20_LC_9_7_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[20], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_20_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_21_LC_9_7_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[21], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_21_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_22_LC_9_7_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[22], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_22_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_23_LC_9_7_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[23], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_23_s1_c }
clb_pack LT_9_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_16_LC_9_7_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_17_LC_9_7_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_18_LC_9_7_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_19_LC_9_7_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_20_LC_9_7_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_21_LC_9_7_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_22_LC_9_7_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_23_LC_9_7_7 }
set_location LT_9_7 9 7
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_24_LC_9_8_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[24], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_24_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_25_LC_9_8_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[25], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_25_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_26_LC_9_8_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[26], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_26_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_27_LC_9_8_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[27], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_27_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_28_LC_9_8_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[28], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_28_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_29_LC_9_8_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[29], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_29_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_30_LC_9_8_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[30], FromFPGA_DISPLAY.un1_DATA_FROM_FPGA_cry_30_s1_c }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_31_LC_9_8_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2[31] }
clb_pack LT_9_8 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_24_LC_9_8_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_25_LC_9_8_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_26_LC_9_8_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_27_LC_9_8_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_28_LC_9_8_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_29_LC_9_8_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_30_LC_9_8_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_2_31_LC_9_8_7 }
set_location LT_9_8 9 8
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_0_LC_9_9_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[0], FromFPGA_DISPLAY.DATA_FROM_FPGA[0] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_31_LC_9_9_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[31], FromFPGA_DISPLAY.DATA_FROM_FPGA[31] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_1_LC_9_9_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[1] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_1_LC_9_9_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[1], FromFPGA_DISPLAY.DATA_FROM_FPGA[1] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_30_LC_9_9_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[30] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_30_LC_9_9_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[30], FromFPGA_DISPLAY.DATA_FROM_FPGA[30] }
clb_pack LT_9_9 { FromFPGA_DISPLAY.DATA_FROM_FPGA_0_LC_9_9_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_31_LC_9_9_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_1_LC_9_9_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_1_LC_9_9_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_30_LC_9_9_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_30_LC_9_9_7 }
set_location LT_9_9 9 9
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_25_LC_9_10_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[25], FromFPGA_DISPLAY.DATA_FROM_FPGA[25] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_29_LC_9_10_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[29], FromFPGA_DISPLAY.DATA_FROM_FPGA[29] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_26_LC_9_10_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[26], FromFPGA_DISPLAY.DATA_FROM_FPGA[26] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_20_LC_9_10_4 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[20], FromFPGA_DISPLAY.DATA_FROM_FPGA[20] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_21_LC_9_10_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[21], FromFPGA_DISPLAY.DATA_FROM_FPGA[21] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_24_LC_9_10_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[24], FromFPGA_DISPLAY.DATA_FROM_FPGA[24] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_17_LC_9_10_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[17], FromFPGA_DISPLAY.DATA_FROM_FPGA[17] }
clb_pack LT_9_10 { FromFPGA_DISPLAY.DATA_FROM_FPGA_25_LC_9_10_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_29_LC_9_10_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_26_LC_9_10_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_20_LC_9_10_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_21_LC_9_10_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_24_LC_9_10_6, FromFPGA_DISPLAY.DATA_FROM_FPGA_17_LC_9_10_7 }
set_location LT_9_10 9 10
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_12_LC_9_11_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[12] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_12_LC_9_11_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[12], FromFPGA_DISPLAY.DATA_FROM_FPGA[12] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_19_LC_9_11_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[19] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_19_LC_9_11_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[19], FromFPGA_DISPLAY.DATA_FROM_FPGA[19] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_13_LC_9_11_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[13], FromFPGA_DISPLAY.DATA_FROM_FPGA[13] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_18_LC_9_11_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[18], FromFPGA_DISPLAY.DATA_FROM_FPGA[18] }
clb_pack LT_9_11 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_12_LC_9_11_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_12_LC_9_11_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_19_LC_9_11_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_19_LC_9_11_3, FromFPGA_DISPLAY.DATA_FROM_FPGA_13_LC_9_11_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_18_LC_9_11_7 }
set_location LT_9_11 9 11
ble_pack USB_DEBUG.ToFPGA_30_LC_9_12_4 { USB_DEBUG.ToFPGA_30_THRU_LUT4_0, USB_DEBUG.ToFPGA[30] }
clb_pack LT_9_12 { USB_DEBUG.ToFPGA_30_LC_9_12_4 }
set_location LT_9_12 9 12
ble_pack USB_DEBUG.ToFPGA_7_LC_10_3_0 { USB_DEBUG.ToFPGA_7_THRU_LUT4_0, USB_DEBUG.ToFPGA[7] }
clb_pack LT_10_3 { USB_DEBUG.ToFPGA_7_LC_10_3_0 }
set_location LT_10_3 10 3
ble_pack USB_DEBUG.ToFPGA_3_LC_10_4_1 { USB_DEBUG.ToFPGA_3_THRU_LUT4_0, USB_DEBUG.ToFPGA[3] }
ble_pack USB_DEBUG.ToFPGA_0_LC_10_4_5 { USB_DEBUG.ToFPGA_0_THRU_LUT4_0, USB_DEBUG.ToFPGA[0] }
clb_pack LT_10_4 { USB_DEBUG.ToFPGA_3_LC_10_4_1, USB_DEBUG.ToFPGA_0_LC_10_4_5 }
set_location LT_10_4 10 4
ble_pack DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_c_LC_10_5_0 { DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_c }
ble_pack DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_THRU_LUT4_0_LC_10_5_1 { DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_THRU_LUT4_0, DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_1_c }
ble_pack DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_1_THRU_LUT4_0_LC_10_5_2 { DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_1_THRU_LUT4_0, DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_2_c }
ble_pack DELAY_5_SECONDS.TIMEOUT_COUNT_3_LC_10_5_3 { DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[3], DELAY_5_SECONDS.TIMEOUT_COUNT[3] }
ble_pack USB_DEBUG.AddressRegister_RNITC121_1_LC_10_5_5 { USB_DEBUG.AddressRegister_RNITC121[1] }
ble_pack DELAY_5_SECONDS.TIMEOUT_COUNT_2_LC_10_5_6 { DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[2], DELAY_5_SECONDS.TIMEOUT_COUNT[2] }
clb_pack LT_10_5 { DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_c_LC_10_5_0, DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_0_THRU_LUT4_0_LC_10_5_1, DELAY_5_SECONDS.un1_TIMEOUT_COUNT_cry_1_THRU_LUT4_0_LC_10_5_2, DELAY_5_SECONDS.TIMEOUT_COUNT_3_LC_10_5_3, USB_DEBUG.AddressRegister_RNITC121_1_LC_10_5_5, DELAY_5_SECONDS.TIMEOUT_COUNT_2_LC_10_5_6 }
set_location LT_10_5 10 5
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_28_LC_10_6_0 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[28] }
ble_pack CLK_DIV.COUNTER_RNIIJDR1_0_LC_10_6_4 { CLK_DIV.COUNTER_RNIIJDR1[0] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_3_LC_10_6_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[3] }
ble_pack DELAY_5_SECONDS.TIMEOUT_COUNT_RNIUKNT1_3_LC_10_6_6 { DELAY_5_SECONDS.TIMEOUT_COUNT_RNIUKNT1[3] }
clb_pack LT_10_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_28_LC_10_6_0, CLK_DIV.COUNTER_RNIIJDR1_0_LC_10_6_4, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_3_LC_10_6_5, DELAY_5_SECONDS.TIMEOUT_COUNT_RNIUKNT1_3_LC_10_6_6 }
set_location LT_10_6 10 6
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_14_LC_10_7_2 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[14], FromFPGA_DISPLAY.DATA_FROM_FPGA[14] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_15_LC_10_7_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[15], FromFPGA_DISPLAY.DATA_FROM_FPGA[15] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_16_LC_10_7_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO[16], FromFPGA_DISPLAY.DATA_FROM_FPGA[16] }
clb_pack LT_10_7 { FromFPGA_DISPLAY.DATA_FROM_FPGA_14_LC_10_7_2, FromFPGA_DISPLAY.DATA_FROM_FPGA_15_LC_10_7_5, FromFPGA_DISPLAY.DATA_FROM_FPGA_16_LC_10_7_7 }
set_location LT_10_7 10 7
ble_pack USB_DEBUG.ToFPGA_25_LC_10_8_1 { USB_DEBUG.ToFPGA_25_THRU_LUT4_0, USB_DEBUG.ToFPGA[25] }
ble_pack USB_DEBUG.ToFPGA_28_LC_10_8_4 { USB_DEBUG.ToFPGA_28_THRU_LUT4_0, USB_DEBUG.ToFPGA[28] }
ble_pack USB_DEBUG.ToFPGA_31_LC_10_8_7 { USB_DEBUG.ToFPGA_31_THRU_LUT4_0, USB_DEBUG.ToFPGA[31] }
clb_pack LT_10_8 { USB_DEBUG.ToFPGA_25_LC_10_8_1, USB_DEBUG.ToFPGA_28_LC_10_8_4, USB_DEBUG.ToFPGA_31_LC_10_8_7 }
set_location LT_10_8 10 8
ble_pack CLK_DIV.COUNTER_rep2_19_LC_10_9_0 { CLK_DIV.COUNTER_rep2_19_THRU_LUT4_0, CLK_DIV.COUNTER_rep2[19] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_31_LC_10_9_6 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[31] }
clb_pack LT_10_9 { CLK_DIV.COUNTER_rep2_19_LC_10_9_0, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_31_LC_10_9_6 }
set_location LT_10_9 10 9
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_0_LC_10_10_3 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[0] }
clb_pack LT_10_10 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_0_LC_10_10_3 }
set_location LT_10_10 10 10
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_5_LC_10_11_1 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[5] }
ble_pack FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_26_LC_10_11_5 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0[26] }
clb_pack LT_10_11 { FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_5_LC_10_11_1, FromFPGA_DISPLAY.DATA_FROM_FPGA_RNO_0_26_LC_10_11_5 }
set_location LT_10_11 10 11
ble_pack USB_DEBUG.ToFPGA_26_LC_10_12_7 { USB_DEBUG.ToFPGA_26_THRU_LUT4_0, USB_DEBUG.ToFPGA[26] }
clb_pack LT_10_12 { USB_DEBUG.ToFPGA_26_LC_10_12_7 }
set_location LT_10_12 10 12
ble_pack CLK_DIV.COUNTER_RNIFC6P_5_LC_11_5_0 { CLK_DIV.COUNTER_RNIFC6P[5] }
ble_pack DELAY_5_SECONDS.TIMEOUT_COUNT_0_LC_11_5_2 { DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[0], DELAY_5_SECONDS.TIMEOUT_COUNT[0] }
ble_pack DELAY_5_SECONDS.TIMEOUT_COUNT_1_LC_11_5_4 { DELAY_5_SECONDS.TIMEOUT_COUNT_RNO[1], DELAY_5_SECONDS.TIMEOUT_COUNT[1] }
ble_pack CLK_DIV.COUNTER_RNIICCI1_1_LC_11_5_5 { CLK_DIV.COUNTER_RNIICCI1[1] }
ble_pack CLK_DIV.COUNTER_RNIK9P43_7_LC_11_5_6 { CLK_DIV.COUNTER_RNIK9P43[7] }
ble_pack CLK_DIV.COUNTER_RNICT1Q8_0_LC_11_5_7 { CLK_DIV.COUNTER_RNICT1Q8[0] }
clb_pack LT_11_5 { CLK_DIV.COUNTER_RNIFC6P_5_LC_11_5_0, DELAY_5_SECONDS.TIMEOUT_COUNT_0_LC_11_5_2, DELAY_5_SECONDS.TIMEOUT_COUNT_1_LC_11_5_4, CLK_DIV.COUNTER_RNIICCI1_1_LC_11_5_5, CLK_DIV.COUNTER_RNIK9P43_7_LC_11_5_6, CLK_DIV.COUNTER_RNICT1Q8_0_LC_11_5_7 }
set_location LT_11_5 11 5
ble_pack CLK_DIV.COUNTER_0_LC_11_6_0 { CLK_DIV.COUNTER_RNO[0], CLK_DIV.COUNTER[0], CLK_DIV.COUNTER_cry_c[0] }
ble_pack CLK_DIV.COUNTER_1_LC_11_6_1 { CLK_DIV.COUNTER_RNO[1], CLK_DIV.COUNTER[1], CLK_DIV.COUNTER_cry_c[1] }
ble_pack CLK_DIV.COUNTER_2_LC_11_6_2 { CLK_DIV.COUNTER_RNO[2], CLK_DIV.COUNTER[2], CLK_DIV.COUNTER_cry_c[2] }
ble_pack CLK_DIV.COUNTER_3_LC_11_6_3 { CLK_DIV.COUNTER_RNO[3], CLK_DIV.COUNTER[3], CLK_DIV.COUNTER_cry_c[3] }
ble_pack CLK_DIV.COUNTER_4_LC_11_6_4 { CLK_DIV.COUNTER_RNO[4], CLK_DIV.COUNTER[4], CLK_DIV.COUNTER_cry_c[4] }
ble_pack CLK_DIV.COUNTER_5_LC_11_6_5 { CLK_DIV.COUNTER_RNO[5], CLK_DIV.COUNTER[5], CLK_DIV.COUNTER_cry_c[5] }
ble_pack CLK_DIV.COUNTER_6_LC_11_6_6 { CLK_DIV.COUNTER_RNO[6], CLK_DIV.COUNTER[6], CLK_DIV.COUNTER_cry_c[6] }
ble_pack CLK_DIV.COUNTER_7_LC_11_6_7 { CLK_DIV.COUNTER_RNO[7], CLK_DIV.COUNTER[7], CLK_DIV.COUNTER_cry_c[7] }
clb_pack LT_11_6 { CLK_DIV.COUNTER_0_LC_11_6_0, CLK_DIV.COUNTER_1_LC_11_6_1, CLK_DIV.COUNTER_2_LC_11_6_2, CLK_DIV.COUNTER_3_LC_11_6_3, CLK_DIV.COUNTER_4_LC_11_6_4, CLK_DIV.COUNTER_5_LC_11_6_5, CLK_DIV.COUNTER_6_LC_11_6_6, CLK_DIV.COUNTER_7_LC_11_6_7 }
set_location LT_11_6 11 6
ble_pack CLK_DIV.COUNTER_8_LC_11_7_0 { CLK_DIV.COUNTER_RNO[8], CLK_DIV.COUNTER[8], CLK_DIV.COUNTER_cry_c[8] }
ble_pack CLK_DIV.COUNTER_9_LC_11_7_1 { CLK_DIV.COUNTER_RNO[9], CLK_DIV.COUNTER[9], CLK_DIV.COUNTER_cry_c[9] }
ble_pack CLK_DIV.COUNTER_10_LC_11_7_2 { CLK_DIV.COUNTER_RNO[10], CLK_DIV.COUNTER[10], CLK_DIV.COUNTER_cry_c[10] }
ble_pack CLK_DIV.COUNTER_11_LC_11_7_3 { CLK_DIV.COUNTER_RNO[11], CLK_DIV.COUNTER[11], CLK_DIV.COUNTER_cry_c[11] }
ble_pack CLK_DIV.COUNTER_12_LC_11_7_4 { CLK_DIV.COUNTER_RNO[12], CLK_DIV.COUNTER[12], CLK_DIV.COUNTER_cry_c[12] }
ble_pack CLK_DIV.COUNTER_13_LC_11_7_5 { CLK_DIV.COUNTER_RNO[13], CLK_DIV.COUNTER[13], CLK_DIV.COUNTER_cry_c[13] }
ble_pack CLK_DIV.COUNTER_14_LC_11_7_6 { CLK_DIV.COUNTER_RNO[14], CLK_DIV.COUNTER[14], CLK_DIV.COUNTER_cry_c[14] }
ble_pack CLK_DIV.COUNTER_15_LC_11_7_7 { CLK_DIV.COUNTER_RNO[15], CLK_DIV.COUNTER[15], CLK_DIV.COUNTER_cry_c[15] }
clb_pack LT_11_7 { CLK_DIV.COUNTER_8_LC_11_7_0, CLK_DIV.COUNTER_9_LC_11_7_1, CLK_DIV.COUNTER_10_LC_11_7_2, CLK_DIV.COUNTER_11_LC_11_7_3, CLK_DIV.COUNTER_12_LC_11_7_4, CLK_DIV.COUNTER_13_LC_11_7_5, CLK_DIV.COUNTER_14_LC_11_7_6, CLK_DIV.COUNTER_15_LC_11_7_7 }
set_location LT_11_7 11 7
ble_pack CLK_DIV.COUNTER_16_LC_11_8_0 { CLK_DIV.COUNTER_RNO[16], CLK_DIV.COUNTER[16], CLK_DIV.COUNTER_cry_c[16] }
ble_pack CLK_DIV.COUNTER_17_LC_11_8_1 { CLK_DIV.COUNTER_RNO[17], CLK_DIV.COUNTER[17], CLK_DIV.COUNTER_cry_c[17] }
ble_pack CLK_DIV.COUNTER_18_LC_11_8_2 { CLK_DIV.COUNTER_RNO[18], CLK_DIV.COUNTER[18], CLK_DIV.COUNTER_cry_c[18] }
ble_pack CLK_DIV.COUNTER_cry_c_RNI6TKF_18_LC_11_8_3 { CLK_DIV.COUNTER_cry_c_RNI6TKF[18] }
ble_pack CLK_DIV.COUNTER_19_LC_11_8_4 { CLK_DIV.COUNTER_19_THRU_LUT4_0, CLK_DIV.COUNTER[19] }
ble_pack CLK_DIV.COUNTER_rep0_19_LC_11_8_5 { CLK_DIV.COUNTER_rep0_19_THRU_LUT4_0, CLK_DIV.COUNTER_rep0[19] }
clb_pack LT_11_8 { CLK_DIV.COUNTER_16_LC_11_8_0, CLK_DIV.COUNTER_17_LC_11_8_1, CLK_DIV.COUNTER_18_LC_11_8_2, CLK_DIV.COUNTER_cry_c_RNI6TKF_18_LC_11_8_3, CLK_DIV.COUNTER_19_LC_11_8_4, CLK_DIV.COUNTER_rep0_19_LC_11_8_5 }
set_location LT_11_8 11 8
ble_pack BTN2_iobuf_RNO_LC_12_3_5 { BTN2_iobuf_RNO }
clb_pack LT_12_3 { BTN2_iobuf_RNO_LC_12_3_5 }
set_location LT_12_3 12 3
ble_pack BUTTONS.SAMPLE_BTN2_LAST_RNIK4SC1_LC_12_4_0 { BUTTONS.SAMPLE_BTN2_LAST_RNIK4SC1 }
ble_pack BUTTONS.STATUS_ALL_BUTTONS_LAST_LC_12_4_2 { BUTTONS.STATUS_ALL_BUTTONS_LAST_RNO, BUTTONS.STATUS_ALL_BUTTONS_LAST }
ble_pack BUTTONS.STATUS_ALL_BUTTONS_LC_12_4_3 { BUTTONS.STATUS_ALL_BUTTONS_RNO, BUTTONS.STATUS_ALL_BUTTONS }
ble_pack BUTTONS.BTN2_TOGGLE_STATUS_LC_12_4_4 { BUTTONS.BTN2_TOGGLE_STATUS_RNO, BUTTONS.BTN2_TOGGLE_STATUS }
ble_pack BUTTONS.BTN1_TOGGLE_STATUS_LC_12_4_7 { BUTTONS.BTN1_TOGGLE_STATUS_RNO, BUTTONS.BTN1_TOGGLE_STATUS }
clb_pack LT_12_4 { BUTTONS.SAMPLE_BTN2_LAST_RNIK4SC1_LC_12_4_0, BUTTONS.STATUS_ALL_BUTTONS_LAST_LC_12_4_2, BUTTONS.STATUS_ALL_BUTTONS_LC_12_4_3, BUTTONS.BTN2_TOGGLE_STATUS_LC_12_4_4, BUTTONS.BTN1_TOGGLE_STATUS_LC_12_4_7 }
set_location LT_12_4 12 4
ble_pack BUTTONS.SAMPLE_BTN3_LAST_RNISO461_LC_12_5_2 { BUTTONS.SAMPLE_BTN3_LAST_RNISO461 }
ble_pack BUTTONS.SAMPLE_BTN3_LAST_RNIGT0J2_LC_12_5_3 { BUTTONS.SAMPLE_BTN3_LAST_RNIGT0J2 }
ble_pack BUTTONS.SAMPLE_BTN1_LC_12_5_6 { BUTTONS.SAMPLE_BTN1_RNO, BUTTONS.SAMPLE_BTN1 }
clb_pack LT_12_5 { BUTTONS.SAMPLE_BTN3_LAST_RNISO461_LC_12_5_2, BUTTONS.SAMPLE_BTN3_LAST_RNIGT0J2_LC_12_5_3, BUTTONS.SAMPLE_BTN1_LC_12_5_6 }
set_location LT_12_5 12 5
ble_pack CLK_DIV.COUNTER_RNI78DR1_9_LC_12_6_0 { CLK_DIV.COUNTER_RNI78DR1[9] }
ble_pack CLK_DIV.COUNTER_RNIVNDU1_13_LC_12_6_2 { CLK_DIV.COUNTER_RNIVNDU1[13] }
ble_pack SELECT_OUTPUT.MODE_LC_12_6_4 { SELECT_OUTPUT.MODE_RNO, SELECT_OUTPUT.MODE }
clb_pack LT_12_6 { CLK_DIV.COUNTER_RNI78DR1_9_LC_12_6_0, CLK_DIV.COUNTER_RNIVNDU1_13_LC_12_6_2, SELECT_OUTPUT.MODE_LC_12_6_4 }
set_location LT_12_6 12 6
ble_pack BTN4_iobuf_RNO_LC_12_8_2 { BTN4_iobuf_RNO }
ble_pack CLK_DIV.COUNTER_rep3_19_LC_12_8_3 { CLK_DIV.COUNTER_rep3_19_THRU_LUT4_0, CLK_DIV.COUNTER_rep3[19] }
ble_pack CLK_DIV.COUNTER_rep1_19_LC_12_8_5 { CLK_DIV.COUNTER_rep1_19_THRU_LUT4_0, CLK_DIV.COUNTER_rep1[19] }
clb_pack LT_12_8 { BTN4_iobuf_RNO_LC_12_8_2, CLK_DIV.COUNTER_rep3_19_LC_12_8_3, CLK_DIV.COUNTER_rep1_19_LC_12_8_5 }
set_location LT_12_8 12 8
ble_pack USB_DEBUG.ToFPGA_5_LC_12_11_5 { USB_DEBUG.ToFPGA_5_THRU_LUT4_0, USB_DEBUG.ToFPGA[5] }
clb_pack LT_12_11 { USB_DEBUG.ToFPGA_5_LC_12_11_5 }
set_location LT_12_11 12 11
ble_pack BUTTONS.SAMPLE_BTN1_LAST_LC_13_4_2 { BUTTONS.SAMPLE_BTN1_LAST_THRU_LUT4_0, BUTTONS.SAMPLE_BTN1_LAST }
ble_pack BUTTONS.SAMPLE_BTN2_LC_13_4_5 { BUTTONS.SAMPLE_BTN2_RNO, BUTTONS.SAMPLE_BTN2 }
ble_pack BUTTONS.SAMPLE_BTN2_LAST_LC_13_4_7 { BUTTONS.SAMPLE_BTN2_LAST_THRU_LUT4_0, BUTTONS.SAMPLE_BTN2_LAST }
clb_pack LT_13_4 { BUTTONS.SAMPLE_BTN1_LAST_LC_13_4_2, BUTTONS.SAMPLE_BTN2_LC_13_4_5, BUTTONS.SAMPLE_BTN2_LAST_LC_13_4_7 }
set_location LT_13_4 13 4
ble_pack BUTTONS.BTN4_TOGGLE_STATUS_LC_13_5_1 { BUTTONS.BTN4_TOGGLE_STATUS_RNO, BUTTONS.BTN4_TOGGLE_STATUS }
ble_pack BUTTONS.BTN3_TOGGLE_STATUS_LC_13_5_2 { BUTTONS.BTN3_TOGGLE_STATUS_RNO, BUTTONS.BTN3_TOGGLE_STATUS }
ble_pack BUTTONS.STATUS_ALL_BUTTONS_RNO_0_LC_13_5_4 { BUTTONS.STATUS_ALL_BUTTONS_RNO_0 }
clb_pack LT_13_5 { BUTTONS.BTN4_TOGGLE_STATUS_LC_13_5_1, BUTTONS.BTN3_TOGGLE_STATUS_LC_13_5_2, BUTTONS.STATUS_ALL_BUTTONS_RNO_0_LC_13_5_4 }
set_location LT_13_5 13 5
ble_pack BUTTONS.SAMPLE_BTN3_LAST_LC_13_6_0 { BUTTONS.SAMPLE_BTN3_LAST_THRU_LUT4_0, BUTTONS.SAMPLE_BTN3_LAST }
ble_pack BUTTONS.SAMPLE_BTN4_LC_13_6_1 { BUTTONS.SAMPLE_BTN4_RNO, BUTTONS.SAMPLE_BTN4 }
ble_pack BUTTONS.SAMPLE_BTN4_LAST_LC_13_6_2 { BUTTONS.SAMPLE_BTN4_LAST_THRU_LUT4_0, BUTTONS.SAMPLE_BTN4_LAST }
ble_pack BUTTONS.SAMPLE_BTN3_LC_13_6_3 { BUTTONS.SAMPLE_BTN3_RNO, BUTTONS.SAMPLE_BTN3 }
clb_pack LT_13_6 { BUTTONS.SAMPLE_BTN3_LAST_LC_13_6_0, BUTTONS.SAMPLE_BTN4_LC_13_6_1, BUTTONS.SAMPLE_BTN4_LAST_LC_13_6_2, BUTTONS.SAMPLE_BTN3_LC_13_6_3 }
set_location LT_13_6 13 6
ble_pack USB_DEBUG.VButtons_13_LC_13_11_7 { USB_DEBUG.VButtons_13_THRU_LUT4_0, USB_DEBUG.VButtons[13] }
clb_pack LT_13_11 { USB_DEBUG.VButtons_13_LC_13_11_7 }
set_location LT_13_11 13 11
ble_pack BTN1_iobuf_RNO_LC_16_8_5 { BTN1_iobuf_RNO }
clb_pack LT_16_8 { BTN1_iobuf_RNO_LC_16_8_5 }
set_location LT_16_8 16 8
set_location ASTB_ibuf_gb_io_gb 13 0
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLK6_0[23] 0 11
set_location USB_DEBUG.VButtons_RNIVUQ2[13] 25 11
set_location LIGHTBAR_DISPLAY.SHIFTER_esr_RNICLP3_0[23] 0 10
set_location LED_CLOCK_keep_RNI4OGA 25 10
set_io DB[3] 37
set_io DB[0] 42
set_io BTN4 52
set_io WAIT 33
set_io LED4 129
set_io DB[5] 34
set_io DB[1] 41
set_io CLK_3P3_MHZ 20
set_io BTN3 25
set_io ASTB 26
set_io LED1 130
set_io DSTB 21
set_io DB[6] 16
set_io DB[2] 9
set_io BTN2 32
set_io WRITE 28
set_io LED2 56
set_io DB[7] 29
set_io BTN1 60
set_io SS_B 49
set_io LED3 141
set_io DB[4] 4
